$mainBGcolor: #00142C;
$mainTextColor: #154880;
$mainGDtextColor: #00D1FF;
$mainDefaultDurationAnimation: 0.5s;


$additionalTextColor: #FF7F50;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
  @media (max-width: 991px) {
    font-size: 8px;
  }
}
body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rockwell"; /* Имя шрифта */
  src: url('../fonts/Rockwell.ttf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  .content {
    flex: 1 0 auto;
    overflow-x: hidden;
  }
  .footer {
    flex: 0 0 auto;
  }
}

.content_pad_top {
  padding-top: 60px;
  @media (max-width: 991px) {
    padding-top: 40px;
  }
}
.content_pad_bot {
  padding-bottom: 60px;
  @media (max-width: 991px) {
    padding-bottom: 40px;
  }
}



iframe{
  display: block;
}
img {
  display: block;
}
h1 {
font-weight: bold;
font-size: 4.8REM;
line-height: 59px;

color: $mainTextColor;

@media (max-width: 991px) {
  font-size: 3rem;
  line-height: 30px;
}
}
h2 {
  font-weight: bold;
font-size: 4.8REM;
line-height: 59px;

color: $mainTextColor;
@media (max-width: 991px) {
  font-size: 2.4rem;
  line-height: 30px;
}
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 150%;
  color: #000000;
  padding-bottom: 20px;
  @media (max-width: 991px) {
    font-size: 1.4rem;
  }
}
.header__line {
  position: relative;
  padding-bottom: 8px;
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    width: 120px;
    height: 4px;
    background-color: $mainTextColor;
    left: 50%;
    transform: translateX(-50%);
  }
}

ul {
  li {
    font-size: 16px;
line-height: 150%;
/* or 24px */


color: #000000;
padding-bottom: 10px;
  &:last-child {
    padding: 0px;
  }
  }
}
