.form {
	padding: 26px 0px;
	.form__header {
		font-weight: bold;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: $mainTextColor;
	}
	input {
		max-width: 370px;
		width: 100%;
		background: #D9F8FF;
		border: none;
		display: block;
		border-radius: 100px;
		padding: 13px 24px;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: $mainTextColor;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: $mainTextColor;
		}
		&::-moz-placeholder {
			color: $mainTextColor;
		}
	}



	.checkbox__wrap {
		max-width: 200px;
		.form__info {
			padding: 0px;
		}

	}
	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: none;
		border: 1px solid #000;
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../images/checked.svg") no-repeat;
	}
	.form__info {
		font-size: 16px;
		line-height: 19px;

		color: #303030;
		text-align: left;
	}
	p.form__info {
		padding-top: 2px;
	}
	@media (max-width: 991px) {
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
a {
	font-size: 1.4rem;
	line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
.close {
	span {
		
	}
}
textarea {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}


/*  -    - --   custom input - - -- - - -- - - */
.custom__select {
  position: relative;
  margin: 0px!important;
  display: flex;
  @media (max-width: 991px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .select-selected {
      width: 100%;
    }
  }
}

.custom__select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
  text-transform: uppercase;
  position: relative;

  display: flex;
  justify-content: space-between;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  display: block;
  top: calc(50%);
  transform: translateY(-50%);
  right: 0px;
  width: 10px;
  height: 10px;
  transition: all .5s;
  background: url("../images/down-arrow.svg") no-repeat;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%) rotate(180deg);
    transition: all .5s;
    width: 10px;
    height: 10px;
    background: url("../images/down-arrow.svg") no-repeat;
  }
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  padding-right: 20px;
}
.select-items div {
  color: #808080!important;
}
/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;


}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.text__underline {
	    text-transform: capitalize;
	text-align: left;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 22px;
	color: $mainTextColor;
}

.sort {
	font-size: 18px;
line-height: 22px;
/* identical to box height */

	display: flex;
color: #000000;
}
