.btn {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 22px;
	/* identical to box height */
	min-width: 200px;
	text-align: center;

	color: $mainTextColor;
	padding: 14px 0px;
	font-family: Roboto;
	border: none;
	
	transition: all 1s;
	background-size: 200% 200%;
	
	&.btn_bg_gradient {
		background: linear-gradient(270deg, $mainTextColor 0%, $mainGDtextColor 100%);
		padding: 12px 0;
		transition: all $mainDefaultDurationAnimation;
		color: #fff;
	}
	&.btn_border_gradient {
		background: linear-gradient(270deg, $mainTextColor 0%, $mainGDtextColor 100%);
		padding: 2px;
		span {
			padding: 12px 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: #fff;
			transition: all $mainDefaultDurationAnimation;
		}
		&:hover {
			span {
				color: $mainGDtextColor;
				transition: all $mainDefaultDurationAnimation;
			}
		}
	}
	&.btn_flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(40.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&:focus {
		outline: none;
	}
	&.btn_width_300 {
		width: 100%;
		max-width: 300px;
	}
	&.btn_width_200 {
		width: 100%;
		max-width: 200px;
	}
	&.calc__btn, &.btn__m_calc {
		min-width: unset;
		padding: 0px;
	}
}

a {
	&.btn {
		color: #FFFFFF;
	}
}







.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}


.play {
	position: absolute;
	top: 120px;
	right: 5%;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	border: 7px solid $mainTextColor;
	z-index: 200;
	cursor: pointer;
	div {
		position: relative;
		width: 100%;
		height: 100%;
		&:before {
			content: "";
			position: absolute;
			left: 58%; top: 50%;
			transform: translate(-50%, -50%);
			display: block;
			border: 16px solid transparent;
			border-left: 20px solid $mainTextColor
		}
	}
	span {
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%, -50%);
		display: block;
		border-radius: 100%;
		width: 80px;
		height: 80px;
		border: 7px solid $mainTextColor;
	}
	&.play__two {
		top: unset; right: unset;
		left: 10%;
		bottom: 50%;
	}
}






