.modal-content {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 209, 255, 0.35);
	border-radius: 15px;
	padding: 32px 100px;
	max-width: 570px;
	position: relative;
	.close {
		opacity: 1;
		position: absolute;
		right: 16px; top: 24px;
		line-height: 0;
		span {
			font-size: 4rem;
			color: #D8D8D8;
		}
	}
	.modal-header {
		padding: 0;
		border-bottom: 0;
		span {
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 29px;
			text-align: center;
			color: $mainTextColor;
		}
	}
	.modal-body {
		padding: 0;
		input {
			width: 100%;
		}
	}
}

#modalVideo {
	iframe {
		min-height: 480px;
	}
	.modal-content {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 50px;
	}
}