.footer {
	background-color: $mainTextColor;
	padding-top: 20px;
	.footer__link {
		display: inline-block;
		font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
		&:nth-child(2) {
			margin: 0 10px;
		}
	}
	.social__link {
		margin: 0 16px;
		&:first-child {
			margin-left: 0px;
		}
		&:last-child {
			margin-right: 0px;
		}
		@media (max-width: 991px) {
			margin: 0 5px;
		}
	}

	.header__phone {
		font-weight: bold;
font-size: 24px;
line-height: 29px;
		margin-bottom: 10px;
		display: block;
color: #FFFFFF;
	}

	.footer__description {
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
	}

	.footer__header {
		display: block;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */
		padding-bottom: 16px;

		color: #66789A;
	}
	.header__phone_s {
		font-weight: 600;
font-size: 18px;
line-height: 150%;
	}
	p {
		font-size: 16px;
line-height: 150%;
/* or 24px */

	padding-bottom: 10px;
color: #FFFFFF;
	}
	.cookies {
		border-top: 1px solid #66789A;
	}
	.footer_soc {
		@media (max-width: 991px) {
			flex-wrap: wrap;
			padding: 20px 0 0 0;
		}
	}
	.footer__nav {
		@media (max-width: 991px) {
			display: flex;
			flex-direction: column;
			padding-top: 15px;
			a {
				margin: 10px 0!important;
			}
		}
	}
}


.cookies {
	padding: 32px;
	p {
		font-size: 16px;
line-height: 150%;
/* or 24px */

	padding: 0px;
color: #FFFFFF;
	}

	a {
		font-size: 16px;
		text-decoration: none;
		transition: all 0.5s;
		color: #fff;

		box-shadow: inset 0 -0.1rem 0 0 rgba(255, 255, 255, 1);

		&:hover {
			color: $mainGDtextColor;
			box-shadow: inset 0 -2rem 0 0 rgba(255, 255, 255, 0.1);
		}
	}
}
