- var menuItems = ['Что вы получите', 'Сколько стоит', 'Блог'];

doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Arsenal:700&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

        script( src="js/startFunction.min.js")
        title Project
    body
        div(id="preloader-cube")
            div(class="caption")
                div(class="cube-loader")
                    div(class="cube loader-1")
                    div(class="cube loader-2")
                    div(class="cube loader-4")
                    div(class="cube loader-3")
        div(class="page")
            header(class="header")
                div(class="container")
                    div(class="row")
                        div(class="col-12")
                            nav(class="navigation")
                                a(href="#" class="logo")
                                    img(class="lazyload img-fluid" data-src="images/logo.png" alt="logo")
                                ul(class="d-none d-lg-flex")
                                    each val, index in menuItems
                                        if index == 0
                                            li(class="first active")
                                                a(href="#") #{val}
                                        else 
                                            li
                                                a(href="#") #{val}
                                    li(class="navigation__line")
                                div(class="d-none d-lg-flex")
                                    div(class="header__phone__wrap")
                                        a(href="tel:89191237781" class="header__phone")
                                            | 8 919 123 77 81
                                    button(class="btn btn_flare btn_border_gradient" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
                                        span
                                            | Перезвоните мне
                                button(class="btn__menu d-lg-none")
                                    svg(id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')")
                                        path(class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20")
                                        path(class="line middle" d="m 30,50 h 40")
                                        path(class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20")
            div(class="navigation__content d-flex align-items-center justify-content-center")
                div(class="navigation__wrap")
                    ul(class="navigation__menu")
                        each val, index in menuItems
                            li(class="navigation__menu__item")
                                a(href="#" class="navigation__menu__link") #{val}
                        li(class="navigation__menu__item navigation__menu__phone")
                            a(href="tel:89191237781" class="header__phone")
                                | 8 919 123 77 81
            div(class="content")
                block content
    div(class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered " role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        | &times;
                div(class="modal-header")
                    span
                        | Оставьте заявку и мы с Вами свяжемся
                div(class="modal-body")
                    form(class="form")
                        input(type="text" placeholder="Имя")
                        input(type="tel" class="my-4" placeholder="Телефон")
                        div(class="d-flex align-items-start justify-content-center py-3 pb-4")
                            label(class="m-0")
                                input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
                                span(for="checkbox" class="checkbox__label")
                            p( class="form__info")
                                | Согласен с политикой 
                                a(href="#" class="form__info")
                                    | конфиденциальности
                        div(class="d-flex justify-content-center w-100")
                            button(class="btn btn_bg_gradient btn__flare" type="submit" )
                                | Записаться
    div(class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        | &times;
                div(class="modal-body")
                    iframe(width="100%" src="https://www.youtube.com/embed/wrkRliHHjFk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    div(class="btn-to-top")
        div(class="btn-to-top__content d-flex justify-content-center align-items-center")
            svg(class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316")
                g(id="arrow-up" transform="translate(-1035.793 -4349.188)")
                    g(id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)")
                        path(id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)")
    footer(class="footer")
        div(class="container content_pad_bot")
            div(class="row content_pad_top content_pad_bot  align-items-center")
                div(class="col-12 col-lg-3")
                    img(class="lazyload img-fluid" data-src="images/white_logo.png" alt="img")
                div(class="col-12 offset-lg-1 col-lg-5")
                    div(class="footer__nav")
                        each val, index in menuItems
                            a(href="#" class="footer__link") #{val}
            div(class="row pb-5")
                div(class="col-12 col-lg-3")
                    div(class="d-flex flex-column")
                        a(href="tel:89191237781" class="header__phone")
                            | 8 919 123 77 81
                        a(href="mail:welcome@9buh.ru" class="footer__description")
                            | welcome@9buh.ru
                div(class="col-12 offset-lg-1 col-lg-8")
                    div(class="d-flex align-items-start footer_soc")
                        each val, index in ["inst.svg", "fb.svg", "vk.svg", "telegram.svg", "youtube.svg"]
                            a(href="#" class="social__link")
                                img(class="lazyload" data-src="images/"+ val + "")
            div(class="row pt-5")
                div(class="col-12 col-lg-3")
                    div()
                        span(class="footer__header")
                            | Офис в Москве
                        p(class="footer__description")
                            | Метро Фрунзенская, ул. 3-я Фрунзенская, 10
                    div(  class="pt-4 pb-3"  )
                        span(class="footer__header")
                            | Офис в Челябинске
                        p(class="footer__description")
                            | Ул. Цвиллинга, 66а офис 302
                    div()
                        a(href="tel:89191237781" class="header__phone header__phone_s")
                            | 8 919 123 77 81
                div(class="col-12 offset-lg-1 col-lg-8")
                    span(class="footer__header")
                        | Документы и информация
                    p
                        | Политика конфиденциальности
                    p
                        | Правила обработки персональных данных
                    p
                        | Договор
                    p
                        | Страховой полис
                    p
                        | Согласно закону «О специальной оценке условий труда» № 426-ФЗ от 28.12.2013 г. СИСТЕМА провела специальную оценку условий труда.
        div(class="cookies")
            div(class="container")
               div(class="row")
                div(class="col-12")
                     p
                        | Мы используем Cookies для сбора обезличенных персональных данных. Они помогают настраивать рекламу и анализировать трафик. Оставаясь на сайте, вы соглашаетесь на сбор таких данных. Вы можете ознакомиться с 
                        a(href="#")
                            | Политикой конфиденциальности и правилами обработки персональных данных.
    script(src="js/main.min.js")

