extends base.pug
block content
	div(class="deep")
		div(class="blog content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12")
						img(class="lazyload d-none d-lg-block" data-src="images/blog.png" alt="img")
						h1(class="d-block d-lg-none")
							| Блог
				div(class="row")
					div(class="col-12")
						div(class="sort pt-3 pb-5")
							span(class="pr-2")
								| Сортировать по:
							div(class="custom__select m-2")
								select()
									option(value="0")
										|    Популярности
									option(value="1")
										|    Популярности
									option(value="2")
										|    Цене
				div(class="row")
					div(class="col-12")
						-for (var i = 0; i < 3; i++)
							div(class="blog__item mb-5")
								div(class="row")
									div(class="col-12 col-lg-6 blog__item__header")
										img(class="lazyload img-fluid" data-src="images/sdfasdf5.jpg" alt="img")
									div(class="col-12 col-lg-6 blog__item__content d-flex flex-column justify-content-between")
										div()
											h2
												| Название статьи
											p
												| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
											p
												| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
											p
												| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают).
										a(class="predlojenie__more" href="#")
											span(class="pr-3")
												| Читать далее
											img(class="lazyload" data-src="images/Arrow.svg" alt="img")
										div(class="blog__item__date")
											| 22 сентября 15:45
			img(class="lazyload blog__img" data-src="images/Cup.png" alt="img")
			img(class="blog__img  lazyload" data-src="images/Clips.jpg" alt="img")

