extends base.pug
block content
	div(class="deep")
		div()
			div(class="container")
				div(class="row")
					div(class="col-12")
						img(class="lazyload d-none d-lg-block" data-src="images/dsfg.png" alt="img")
						h1(class="d-block d-lg-none")
							| Что вы получите 
		div(class="som content_pad_top content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12")
						div(class="accordion" id="accordionSom")
							div(class="card")
								div(class="card-header" id="headingOne")
									span(class="card__head" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
										span()
											img(class="lazyload img-fluid card__head_f" data-src="images/pl.svg" alt="img svg" )
											img(class="lazyload img-fluid card__head_s" data-src="images/min.svg" alt="img svg" )
										span()
											| Вашу безопасность как налогоплательщика
								div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSom")
									div(class="card-body")
							div(class="card")
								div(class="card-header" id="headingTwo")
									span(class="card__head collapsed" type="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
										span()
											img(class="lazyload img-fluid card__head_f" data-src="images/pl.svg" alt="img svg" )
											img(class="lazyload img-fluid card__head_s" data-src="images/min.svg" alt="img svg" )
										span()
											| Вашу безопасность как работодателя
								div(id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSom")
									div(class="card-body rr")
										span(class="head_g pb-4")
											| Отсутствие претензий со стороны персонала
										div(class="pl-5")
											div(class="welcome__line")
												img(class="lazyload" data-src="images/feather-check-circle.svg" alt="img")
												span
													| Отлаженная технология
											div(class="welcome__line py-4")
												img(class="lazyload" data-src="images/feather-check-circle.svg" alt="img")
												span
													| Системный подход
											div(class="welcome__line")
												img(class="lazyload" data-src="images/feather-check-circle.svg" alt="img")
												span
													| Профессионально и точно в срок
							div(class="card")
								div(class="card-header" id="headingThree")
									span(class="card__head collapsed" type="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
										span()
											img(class="lazyload img-fluid card__head_f" data-src="images/pl.svg" alt="img svg" )
											img(class="lazyload img-fluid card__head_s" data-src="images/min.svg" alt="img svg" )
										span()
											| Экспертную поддержку и консультации
								div(id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionSom")
									div(class="card-body")
							div(class="card")
								div(class="card-header" id="headingFour")
									span(class="card__head collapsed" type="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
										span()
											img(class="lazyload img-fluid card__head_f" data-src="images/pl.svg" alt="img svg" )
											img(class="lazyload img-fluid card__head_s" data-src="images/min.svg" alt="img svg" )
										span()
											| Качественное ведение учёта
								div(id="collapseFour" class="collapse " aria-labelledby="headingThree" data-parent="#accordionSom")
									div(class="card-body")
			img(class="som__img lazyload" data-src="images/Clips.jpg" alt="img")
		div(class="sendMe  content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2
							| Связаться с нами
				div(class="row")
					div(class="col-12")
						form(class="form d-flex justify-content-start align-items-center rate_mob")
							input(type="text" placeholder="Имя, Телефон")
							button(class="btn btn_bg_gradient btn_flare my-4 my-lg-0" type="submit")
								| Отправить
							span(class="all__span_4")
								| Или
								a(href="#" class="")
									| написать в Telegram
		div(class="tik content_pad_top content_pad_bot")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12")
						h2(class="text-center")
							| Почему вам выгоднее доверить ведение учета нам, чем главбуху в штате?
				div(class="row pt-5 d-flex d-lg-none")
					div(class="col-12")
						div(class="accordion" id="accordionMobN")
							div(class="card")
								div(class="card-header d-flex align-items-center" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
									img(class="lazyload" data-src="images/asd).svg" alt="img")
									span(class="tik__header pt-3 pl-3")
										| Вы получчаете реальных профессионалов
								div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionMobN")
									div(class="card-body")
										div(class="tik__content")
											span(class="tik__content__header")
												| Ваша проблема:
											span(class="tik__content__dop_head")
												| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
											p
												| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
											p
												| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
											p
												| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
											p
												| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
											p
												| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							div(class="card")
								div(class="card-header d-flex align-items-center" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
									img(class="lazyload" data-src="images/dsfgsdfg.svg" alt="img")
									span(class="tik__header pt-3 pl-3")
										| Перекладываете ответственность на нас
								div(id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionMobN")
									div(class="card-body")
										div(class="tik__content")
											span(class="tik__content__header")
												| Ваша проблема:
											span(class="tik__content__dop_head")
												| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
											p
												| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
											p
												| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
											p
												| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
											p
												| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
											p
												| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							div(class="card")
								div(class="card-header d-flex align-items-center" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
									img(class="lazyload" data-src="images/vdsfvsdf.svg" alt="img")
									span(class="tik__header pt-3 pl-3")
										| Главбух больше не сможет навязать вам свое мнение
								div(id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionMobN")
									div(class="card-body")
										div(class="tik__content")
											span(class="tik__content__header")
												| Ваша проблема:
											span(class="tik__content__dop_head")
												| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
											p
												| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
											p
												| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
											p
												| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
											p
												| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
											p
												| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							div(class="card")
								div(class="card-header d-flex align-items-center" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
									img(class="lazyload" data-src="images/sadfasfhsdgn.svg" alt="img")
									span(class="tik__header pt-3 pl-3")
										| Финансово выгодно для вас
								div(id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionMobN")
									div(class="card-body")
										div(class="tik__content")
											span(class="tik__content__header")
												| Ваша проблема:
											span(class="tik__content__dop_head")
												| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
											p
												| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
											p
												| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
											p
												| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
											p
												| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
											p
												| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							div(class="card")
								div(class="card-header d-flex align-items-center" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive")
									img(class="lazyload" data-src="images/piggy-bank.svg" alt="img")
									span(class="tik__header pt-3 pl-3")
										| Дешевле, чем один штатный бухгалтер
								div(id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionMobN")
									div(class="card-body")
										div(class="tik__content")
											span(class="tik__content__header")
												| Ваша проблема:
											span(class="tik__content__dop_head")
												| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
											p
												| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
											p
												| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
											p
												| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
											p
												| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
											p
												| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
				div(class="row pt-5 justify-content-center d-none d-lg-flex")
					div(class="col-lg-4 pb-5")
						div(class="d-flex flex-column align-items-center pb-5")
							div(class="tik__wrap")
								img(class="lazyload" data-src="images/asd).svg" alt="img")
								span(class="tik__hover")
									img(class="lazyload" data-src="images/info.svg" alt="img")
								div(class="tik__content")
									span(class="tik__content__header")
										| Ваша проблема:
									span(class="tik__content__dop_head")
										| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
									p
										| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
									p
										| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
									p
										| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
									p
										| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
									p
										| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							span(class="tik__header pt-3")
								| Вы получчаете реальных профессионалов
					div(class="col-lg-4 pb-5")
						div(class="d-flex flex-column align-items-center pb-5")
							div(class="tik__wrap")
								img(class="lazyload" data-src="images/dsfgsdfg.svg" alt="img")
								span(class="tik__hover" )
									img(class="lazyload" data-src="images/info.svg" alt="img")
								div(class="tik__content")
									span(class="tik__content__header")
										| Ваша проблема:
									span(class="tik__content__dop_head")
										| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
									p
										| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
									p
										| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
									p
										| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
									p
										| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
									p
										| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							span(class="tik__header pt-3")
								| Перекладываете ответственность на нас
					div(class="col-lg-4 pb-5")
						div(class="d-flex flex-column align-items-center pb-5")
							div(class="tik__wrap")
								img(class="lazyload" data-src="images/vdsfvsdf.svg" alt="img")
								span(class="tik__hover" )
									img(class="lazyload" data-src="images/info.svg" alt="img")
								div(class="tik__content")
									span(class="tik__content__header")
										| Ваша проблема:
									span(class="tik__content__dop_head")
										| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
									p
										| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
									p
										| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
									p
										| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
									p
										| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
									p
										| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							span(class="tik__header pt-3")
								| Главбух больше не сможет навязать вам свое мнение
					div(class="col-lg-4 pb-5")
						div(class="d-flex flex-column align-items-center pb-5")
							div(class="tik__wrap")
								img(class="lazyload" data-src="images/sadfasfhsdgn.svg" alt="img")
								span(class="tik__hover" )
									img(class="lazyload" data-src="images/info.svg" alt="img")
								div(class="tik__content")
									span(class="tik__content__header")
										| Ваша проблема:
									span(class="tik__content__dop_head")
										| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
									p
										| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
									p
										| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
									p
										| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
									p
										| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
									p
										| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							span(class="tik__header pt-3")
								| Финансово выгодно для вас
					div(class="col-lg-4 pb-5")
						div(class="d-flex flex-column align-items-center pb-5")
							div(class="tik__wrap")
								img(class="lazyload" data-src="images/piggy-bank.svg" alt="img")
								span(class="tik__hover" )
									img(class="lazyload" data-src="images/info.svg" alt="img")
								div(class="tik__content")
									span(class="tik__content__header")
										| Ваша проблема:
									span(class="tik__content__dop_head")
										| Небольшой компании и сложно, и дорого нанять по-настоящему грамотного главбуха. Вряд ли вы сможете привлечь рутинной однообразной  работой квалифицированного специалиста. А те, кому интересна роль финансового директора – оценивают свои услуги еще дороже…
									p
										| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
									p
										| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
									p
										| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
									p
										| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
									p
										| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
							span(class="tik__header pt-3")
								| Дешевле, чем один штатный бухгалтер
		div(class="content_pad_top content_pad_bot rate")
			div(class="container")
				div(class="row")
					div(class="col-12")
						div(class="rate__content")
							div(class="row")
								div(class="col-lg-6")
									img(class="lazyload d-none d-lg-block" data-src="images/bcvb.png" alt="img")
									h2(class="d-block d-lg-none go__span")
										| Хотите подберем самый выгодный тариф для вас?
									a(href="tel:89191237781")
										| 8 919 123 77 81
									span(class="rate__description")
										| Позвоните нам или оставьте заявку<br>на сайте и мы перезвоним вам сами
									div(class="d-flex align-items-center justify-content-between rate_mob")
										button(class="btn btn_flare btn_border_gradient btn_width_300" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
											span
												| Позвоните мне
										span(class="all__span_4 pl-4")
											| Или
											a(href="#" class="")
												| написать в Telegram 
						img(class="lazyload rate__img d-none d-lg-block" data-src="images/sdfgdsfg.png" alt="img")
		div(class="anim content_pad_top content_pad_bot")
			div(class="container content_pad_top")
				div(class="row")
					div(class="col-12 col-lg-6 pr-lg-0")
						h2
							| Обезопасим от блокировок по 115-ФЗ
						span(class="anim_p")
							| Переживаем за ваше дело, как за своё:
						ul(class="pt-5 ul_circle")
							li
								| Посоветуем, как безопасно вести бизнес, чтобы его не тормозили неожиданные запросы документов из банка и ограничения по счёту.
							li
								| Поможем разблокировать счет, при необходимости.
					div(class="col-12 col-lg-6 pr-lg-0 anim_a")
						div(class="d-flex pb-5 text_1")
							span(class="")
								| Неожиданные запросы
						div(class="d-flex pb-5 text_2")
							span(class="mr-5")
								| Потеря 
							span(class="ml-5")
								| Блокировка по 115-ФЗ
						div(class="d-flex pb-5 text_3")
							span(class="")
								| Лимиты по счёту
						div(class="d-flex text_4")
							span(class="mr-5")
								| Незаконная оптимизация
							span(class="ml-5")
								| Зависшие платежи
						div(class="cha")
		div(class="predlojenie d-flex flex-column ")
			img(class="lazyload predlojenie__img" data-src="images/paint2(1).png" alt="img")
			div(class="container py-5")
				div(class="row")
					div(class="col-lg-6")
						img(class="lazyload img-fluid" data-src="images/fdbsvfgsfbgf.png" alt="img")
					div(class="col-lg-6")
						h2
							| Вы больше никому ничего не должны
						span(class="dfg")
							| С бухгалтерией СИСТЕМА
						ul(class="pt-5 ul_circle")
							li
								| Считаем налоги заранее и готовим отчётность. Без ошибок и задержек.
							li
								| Подбираем график уплаты страховых взносов, чтобы сумма налога стала меньше.
							li
								| Тотально контролируем сроки и напоминаем о нужных датах.

							li
								| Работаем с банками on-line, мгновенно отрабатываем ваши платежи 
			img(class="lazyload predlojenie__img" data-src="images/paint2(1).png" alt="img")
		div(class="time content_pad_top")
			div(class="container")
				div(class="row")
					div(class="col-lg-6")
						h2
							| Вы начнете работать быстрее
						img(class="lazyload img-fluid"  class="fd-logo" data-src="images/logo.png" alt="logo")
						p
							| сама уведомит ваших контрагентов об отправке им денег и вышлет копию платёжки с банковским штампом на электронную почту. Этого будет достаточно, чтобы запустить процесс.
					div(class="col-lg-6 d-none d-lg-flex")
						img(class="lazyload" data-src="images/Clock.png" alt="img")
				div(class="row")
					div(class="col-lg-6 d-none d-lg-flex")
						img(class="lazyload" data-src="images/hfghdfghdfgh.png" alt="img")
					div(class="col-lg-6 pr-lg-0 d-flex flex-column justify-content-center align-items-start")
						h2
							| Все договорённости, документы и задачи под контролем
						img(class="lazyload img-fluid"  class="fd-logo" data-src="images/logo.png" alt="logo")
						p
							| Вы ставите задачи, присылаете документы или задаёте вопросы удобным вам способом - на эл.почту или в мессенджеры, WhatsApp, Viber, Telegram.
						p
							| Везде работает
							a(href="#")
								| СИСТЕМА.
						div(class="d-flex py-3")
							a(href="#")
								img(class="lazyload" data-src="images/whatsapp(1).svg" alt="img")
							a(href="#" class="mx-4")
								img(class="lazyload" data-src="images/viber(1).svg" alt="img")
							a(href="#")
								img(class="lazyload" data-src="images/telegramdd2.svg" alt="img")
		div(class="wom content_pad_top content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-6")
						h2
							| Зарплата и выплаты всегда вовремя
						p
							| За 3 дня до выплат знаете точную сумму зарплаты сотрудникам и зарплатных налогов. У вас есть время внести изменения и уточнить данные.
						p
							| Оформляем иностранцев без ошибок и возмещаем взносы в ФСС.
						div(class="content_pad_top")
							h2
								| Налоговая нагрзука под контролем
							div()
								div(class="num d-flex justify-content-start align-items-center")
									span()
										| 1
									p
										| Вы заранее знаете сколько денег нужно на налоги, как эту сумму уменьшить. Без сюрпризов и нервов.
								div(class="num d-flex justify-content-start align-items-center")
									span()
										| 2
									p
										| У вас достаточно времени собрать недостающие документы. 
								div(class="num d-flex justify-content-start align-items-center")
									span()
										| 3
									p
										| Заранее скажем каких документов не хватает для снижения налога и безопасно снизим его.
								div(class="num d-flex justify-content-start align-items-center")
									span()
										| 4
									p
										| Сделаем документы для вас и ваших менеджеров - счёт на оплату покупателю, акты, накладные, счёт - фактуры.
								div(class="num d-flex justify-content-start align-items-center")
									span()
										| 5
									p
										| Учтем командировочные и представительские расходы, просто пришлите скан или фото чека.
					div(class="d-none d-lg-block col-lg-6")
						img(class="lazyload" data-src="images/erqwer43a.png" alt="img")
		div(class="sendMe  content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2
							| Связаться с нами
				div(class="row")
					div(class="col-12")
						form(class="form d-flex justify-content-start align-items-center rate_mob")
							input(type="text" placeholder="Имя, Телефон")
							button(class="btn btn_bg_gradient btn_flare my-4 my-lg-0" type="submit")
								| Отправить
							span(class="all__span_4")
								| Или
								a(href="#" class="")
									| написать в Telegram 
		div(class="perhaps content_pad_top content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2()
							| Возможно, вам это интересно
				div(class="row")
					div(class="col-10 offset-1 offset-xl-0 col-xl-12")
						div(class="slider_perhaps")
							-for (var i = 0; i < 10; i++)
								div(class="p-5")
									div(class="slider_perhaps__item")
										span()
											| Название статьи
										p
											| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
										p
											| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
										p
											| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
										p
											| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
										p
											| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
		

