extends base.pug
block content
	div(class="welcome")
		div(class="container h-100")
			div(class="row h-100 align-items-end")
				div(class="col-lg-6 h-100 d-flex flex-column justify-content-center")
					img(class="lazyload d-none d-lg-block" data-src="images/h1.png" alt="img h1")
					span(class="welcome_h1 d-block d-lg-none")
						| Выбирай надежную бухгалтерию
					div(class="py-5")
						div(class="welcome__line")
							img(class="lazyload" data-src="images/feather-check-circle.svg" alt="img")
							span
								| Отлаженная технология
						div(class="welcome__line py-4")
							img(class="lazyload" data-src="images/feather-check-circle.svg" alt="img")
							span
								| Системный подход
						div(class="welcome__line")
							img(class="lazyload" data-src="images/feather-check-circle.svg" alt="img")
							span
								| Профессионально и точно в срок
					button(class="btn btn_flare btn_border_gradient btn_width_300" data-toggle="modal" data-target="#modalVideo" data-whatever="@Форма-хуиформа")
						span
							| Узнать все за 1 минуту
					div(class="pt-5")
						span(class="welcome__description pb-4")
							| Везде работает
							span
								| СИСТЕМА.
						div(class="d-flex align-items-center")
							a(href="#")
								img(class="lazyload" data-src="images/whatsapp.svg" alt="img")
							a(href="#" class="mx-5")
								img(class="lazyload" data-src="images/viber.svg" alt="img")
							a(href="#")
								img(class="lazyload" data-src="images/telegram2.svg" alt="img")
				div(class="col-lg-6 d-none d-lg-flex")
					img(class="lazyload" data-src="images/woman.jpg" alt="img")
				div(class="play d-none d-lg-block" data-toggle="modal" data-target="#modalVideo" data-whatever="@Форма-хуиформа")
					div
						span
				a(class="welcome__down d-none d-lg-flex" href="#welcome__point")
					img(class="lazyload" data-src="images/icons8-angle-down.svg" alt="img")
	div(class="delegation content_pad_top content_pad_bot wow bounceInUp" data-wow-duration="0" data-wow-delay="1s" id="welcome__point")
		div(class="container")
			div(class="row")
				div(class="col-lg-8 offset-lg-2 col-12 text-center")
					h1
						| Не тратьте время на то, что можно поручить нам
			div(class="row content_pad_top")
				div(class="col-12 col-lg-4 delegation__item")
					div(class="delegation__items d-flex flex-column align-items-center pb-5")
						div(class="delegation__header")
							img(class="lazyload" data-src="images/file.svg" alt="img")
						span(class="delegation__description")
							| Сдаем отчеты<br>вовремя и без ошибок
				div(class="col-12 col-lg-4 delegation__item")
					div(class="delegation__items d-flex flex-column align-items-center pb-5")
						div(class="delegation__header")
							img(class="lazyload" data-src="images/calculations.svg" alt="img")
						span(class="delegation__description")
							| Ведем налоговый<br>и бухгалтерский учет
				div(class="col-12 col-lg-4 delegation__item")
					div(class="delegation__items d-flex flex-column align-items-center pb-5")
						div(class="delegation__header")
							img(class="lazyload" data-src="images/calculator.svg" alt="img")
						span(class="delegation__description")
							| Считаем налоги<br>заранее
				div(class="col-12 col-lg-4 delegation__item")
					div(class="delegation__items d-flex flex-column align-items-center pb-5")
						div(class="delegation__header")
							img(class="lazyload" data-src="images/laptop.svg" alt="img")
						span(class="delegation__description")
							| Расчитываем оптимальную<br>налоговую нагрузку
				div(class="col-12 col-lg-4 delegation__item")
					div(class="delegation__items d-flex flex-column align-items-center pb-5")
						div(class="delegation__header")
							img(class="lazyload" data-src="images/insurance.svg" alt="img")
						span(class="delegation__description")
							| Защищаем в сложных ситуациях,<br>проверяем контрагентов
				div(class="col-12 col-lg-4 delegation__item")
					div(class="delegation__items d-flex flex-column align-items-center pb-5")
						div(class="delegation__header")
							img(class="lazyload" data-src="images/employee.svg" alt="img")
						span(class="delegation__description")
							| Ведем кадровый учет<br>и считаем зарплату
		img(class="lazyload" class="delegation__img delegation__img_left"  data-src="images/Glasses.jpg" alt="img")
		img(class="lazyload"  class="delegation__img delegation__img_right" data-src="images/FlowerPot.jpg" alt="img")
	div(class="all")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-6 pr-lg-0")
					h2
						| Кому подходит
					span(class="all__span_1")
						| Важно, чтобы наше общение началось с доверия, уважения и внутренней уверенности в правильном выборе делового партнера.
					span(class="all__span_2")
						| Наши клиенты – это деловые партнеры, мы не делим их на «больших» и «маленьких». Мы дорожим отношениями с каждым партнером.
					span(class="all__span_3")
						| По-сути, мы становимся частью вашей команды.
					form(class="form d-flex justify-content-between align-items-center")
						input(type="text" placeholder="Имя, Телефон")
						button(class="btn btn_bg_gradient btn_flare" type="submit")
							| Отправить
					span(class="all__span_4")
						| Или
						a(href="#" class="")
							| написать в Telegram 
				div(class="col-12 col-lg-6 pl-lg-0")
					img(class="lazyload all__img d-none d-lg-block" data-src="images/macbook.png" alt="img")
	div(class="trust content_pad_top content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center pb-5")
						| Нам доверяют
			div(class="row")
				div(class="col-12")
					div(class="slider_trust")
						-for (var i = 0; i < 10; i++)
							div(class="d-flex align-items-center justify-content-center")
								a(href="#")
									img(class="lazyload" width="100px" data-src="images/sberbank-1.svg" alt="img")
	div(class="make content_pad_top content_pad_bot  wow bounceIn" data-wow-duration="0" data-wow-delay="1s")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-7")
					h2()
						| Что мы делаем
					span(class="make__description")
						| Делаем вашу бухгалтерию понятной и контролируемой.
					div(class="make__item")
						img(class="lazyload" data-src="images/note.svg" alt="img")
						span()
							| Ведем учет компаниям с общей системой и на «упрощенке», помогаем вести учет предпринимателям на патенте или ЕНВД.
					div(class="make__item")
						img(class="lazyload" data-src="images/free.svg" alt="img")
						span()
							| Бесплатно подключаем к 1С и электронной отчетности. Вам не надо следить за обновлениями и оплачивать софт.
					div(class="make__item")
						img(class="lazyload" data-src="images/voucher.svg" alt="img")
						span()
							| Сдаем все отчеты в налоговую, ПФР, ФСС, Росстат и ФС РАР (при необходимости). Работаем с ЕГАИС.
					div(class="make__item")
						img(class="lazyload" data-src="images/analysis.svg" alt="img")
						span()
							| Для вас мы зарегистрируем ООО или ИП, выберем выгодную систему налогообложения, откроем счет в надежном банке.
					button(class="btn btn_flare btn_border_gradient" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
						span
							| Позвоните мне
				div(class="col-lg-5 d-lg-none d-lg-flex")
					div(class="play play__two d-none d-lg-block" data-toggle="modal" data-target="#modalVideo" data-whatever="@Форма-хуиформа")
						div
							span
					img(class="lazyload make__img " data-src="images/Group20.png" alt="img")
	div(class="go")
		div(class="py-5")
			div(class="container")
				div(class="row")
					div(class="col-12")
						img(class="lazyload img-fluid d-none d-lg-block" data-src="images/Group22.png" alt="img")
						h2(class="d-block d-lg-none go__span")
							| Ведём бухгалтерию сами, работаем с онлайн‑сервисами и дружим с надежными банками

		div(class="container")
			div(class="row")
				div(class="col-lg-6")
					form(class="form d-flex flex-column align-items-center")
						span(class="form__header pb-5 d-block text-center")
							| Оставьте заявку
						input( type="text" placeholder="Имя*")
						input( type="text" class="my-4" placeholder="Телефон*")
						input( type="email" placeholder="Телефон*")
						div(class="checkbox__wrap d-flex align-items-start justify-content-center py-3 pb-3")
							label(class="m-0")
								input(type="checkbox" id="checkbox" checked class="checkbox" aria-label="Checkbox for following text input")
								span(for="checkbox" class="checkbox__label")
							p( class="form__info")
								| Согласен с
								a(href="#" class="form__info")
									| политикой конфиденциальности
						button(class="btn btn_bg_gradient btn_flare" type="submit")
							| Отправить
				div(class="col-lg-6")
					ul(class="pt-5 ul_circle")
						li
							| Прогнозируем налоги заранее, решаем кадровые и юридические вопросы, следим за платежами и выполняем ваши поручения.
						li
							| Решаем вопросы с налоговой, сдаём отчеты вовремя и без ошибок, составляем договоры и протоколы разногласий.
						li
							| Готовим документы для получения кредита.
						li
							| Пишем письма и акты сверки вашим контрагентам, обслуживаем расчетный счет и корпоративные карты.
		img(class="lazyload go__img" data-src="images/paint2(1).png" alt="img")

	div(class="content_pad_top content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-12")
					img(class="lazyload img-fluid d-none d-lg-block" data-src="images/Group23.png" alt="img")
					h2(class="d-block d-lg-none go__span")
						| Вы просто обращаетесь с проблемой – и получаете готовое решение. Вовремя и без головной боли. Мы называем это правильным клиентским сервисом.
	div(class="content_pad_top content_pad_bot rate  wow bounceInRight" data-wow-duration="0" data-wow-delay="1s")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="rate__content")
						div(class="row")
							div(class="col-lg-6")
								img(class="lazyload  d-none d-lg-block" data-src="images/qwe.png" alt="img")
								h2(class="d-block d-lg-none go__span")
									| Хотите подберем самый выгодный тариф для вас?
								a(href="tel:89191237781")
									| 8 919 123 77 81
								span(class="rate__description")
									| Позвоните нам или оставьте заявку на сайте и мы перезвоним вам сами
								div(class="d-flex align-items-center justify-content-between rate_mob")
									button(class="btn btn_flare btn_border_gradient btn_width_300" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
										span
											| Позвоните мне
									span(class="all__span_4 pl-4")
										| Или
										a(href="#" class="")
											| написать в Telegram 
					img(class="lazyload rate__img d-none d-lg-block" data-src="images/tel.png" alt="img")
	div(class="topchig content_pad_top content_pad_bot ")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center")
						| Почему клиенты выбирают именно нас
			div(class="row py-5 align-items-stretch")
				div(class="col-lg-6 py-4")
					div(class="topchig__item d-flex align-items-center")
						img(class="lazyload" data-src="images/question.svg" alt="img")
						div()
							span(class="topchig__header")
								| Говорим на вашем языке
							ul(class="ul_circle")
								li
									| Рассказываем о ведении учета и налогах просто и доступно
								li
									| Задавайте вопросы и получайте понятные ответы
				div(class="col-lg-6 py-4")
					div(class="topchig__item d-flex align-items-center")
						img(class="lazyload" data-src="images/appointment.svg" alt="img")
						div()
							span(class="topchig__header")
								| Избавляем от интереса налоговой
							span(class="topchig__description")
								| Ваши налоговые декларации всегда грамотно подготовлены и сданы в налоговую точно в срок
				div(class="col-lg-6 py-4")
					div(class="topchig__item d-flex align-items-center")
						img(class="lazyload" data-src="images/return.svg" alt="img")
						div()
							span(class="topchig__header")
								| Возместим без вопросов
							span(class="topchig__description")
								| Наша ответсвенность застрахована, мы не ошибаемся, но... Для вашего спокойствия наша ответственность застрахована
				div(class="col-lg-6 py-4")
					div(class="topchig__item d-flex align-items-center")
						img(class="lazyload" data-src="images/shuffle.svg" alt="img")
						div()
							span(class="topchig__header")
								| Управление изменениями

							span(class="topchig__description")
								| Поможем подготовиться к изменениям и обезопасить вас  и ваш бизнес
				div(class="col-lg-6 py-4")
					div(class="topchig__item d-flex align-items-center")
						img(class="lazyload" data-src="images/contract.svg" alt="img")
						div()
							span(class="topchig__header")
								| Гарантируем вам
							ul(class="ul_circle")
								li
									| Кратчайшие сроки
								li
									| Достоверный результат
								li
									| Честные цены
								li
									| Исключительно ответственный подход к делу
				div(class="col-lg-6 py-4")
					div(class="topchig__item d-flex align-items-center")
						img(class="lazyload" data-src="images/manager.svg" alt="img")
						div()
							span(class="topchig__header")
								| И самое главное
							span(class="topchig__description")
								| Мы всегда в хорошем настроении и рады вам, всегда здоровы и полны сил, не опаздываем, не ходим в отпуск и на больничный, не увольняемся
							span(class="topchig__footer")
								| В ответственный момент всегда с вами
	div(class="content_pad_top content_pad_bot rate wow bounceInRight" data-wow-duration="0" data-wow-delay="1s")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="rate__content")
						div(class="row")
							div(class="col-lg-6")
								img(class="lazyload d-none d-lg-block" data-src="images/rwer.png" alt="img")
								h2(class="d-block d-lg-none go__span")
									| Создаём порядок в учёте и финансах
								a(href="tel:89191237781")
									| 8 919 123 77 81
								span(class="rate__description")
									| Позвоните нам или оставьте заявку<br>на сайте и мы перезвоним вам сами
								div(class="d-flex align-items-center justify-content-between rate_mob")
									button(class="btn btn_flare btn_border_gradient btn_width_300" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
										span
											| Позвоните мне
									span(class="all__span_4 pl-4")
										| Или
										a(href="#" class="")
											| написать в Telegram 
					img(class="lazyload rate__img d-none d-lg-block" data-src="images/re.png" alt="img")
	div(class="content_pad_top content_pad_bot")
		div(class="container content_pad_top")
			div(class="row")
				div(class="col-12")
					img(class="lazyload d-none d-lg-block img-fluid" data-src="images/erwerewr.png" alt="img")
					h2(class="d-block d-lg-none go__span")
						| Мы не берём плату за количество операций
	div(class="price")
		img(class="lazyload price__lamp d-none d-lg-block" data-src="images/Lamp.png" alt="img")
		div(class="container")
			div(class="row")
				div(class="col-lg-8 offset-lg-2")
					h2(class="text-center")
						| Сколько стоит
					p
						| Зависит от оборота. Стоимость указана при обороте до 1 000 000 рублей в месяц. Если оборот больше - добавляйте 5 000 рублей за каждый следующий миллион.
			div(class="row")
				div(class="col-lg-10 offset-lg-1")
					div(class="row pb-4")
						div(class="col-lg-6 pb-4 pb-lg-0")
							div(class="price__item d-flex flex-column justify-content-between ")
								div(class="pb-4")
									img(class="lazyload price__hot" data-src="images/hot.png" alt="img")
									h3(class="text-center")
										| Система
									div(class="d-flex justify-content-center")
										img(class="lazyload my-5" data-src="images/csd.png" alt="img")
									span(class="price__count")
										| 20 000 ₽
									p
										| в месяц за полноценую<br>бухгалтерскую службу
									div(class="pl-2")
										span(class="price__count text-left pb-4")
											| Команда
										ul(class="pt-5 ul_circle")
											li
												| Бухгалтер по налогам
											li
												| Бухгалтер первичник
											li
												| Бухгалтер финансист
											li
												| Бухгалтер зарплатник
								div(class="d-flex justify-content-center")
									button(class="btn btn_flare btn_border_gradient btn_width_200" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
										span
											| Заказать
						div(class="col-lg-6 pb-4 pb-lg-0")
							div(class="price__item d-flex flex-column justify-content-between  ")
								div(class="pb-4")
									h3(class="text-center")
										| Премиум
									div(class="d-flex justify-content-center")
										img(class="lazyload my-5" data-src="images/fggh.png" alt="img")
									span(class="price__count")
										| 35 000 ₽
									p
										| в месяц за полноценную бухгалтерскую службу + персоналный ассистент + юрист + кадровик
									div(class="pl-2")
										span(class="price__count text-left pb-4")
											| Команда
										ul(class="pt-5 ul_circle")
											li
												| Бухгалтер по налогам
											li
												| Бухгалтер первичник
											li
												| Бухгалтер финансист
											li
												| Бухгалтер зарплатник
											li
												| Кадровик
											li
												| Юрист
											li
												| Персональный ассистент
											li
												| Архивариус
								div(class="d-flex justify-content-center")
									button(class="btn btn_flare btn_border_gradient btn_width_200" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
										span
											| Заказать
			div(class="row content_pad_bot pt-2")
				div(class="col-12 d-flex justify-content-center")
					label(class="d-flex align-items-center")
						img(class="lazyload" data-src="images/ic-baseline-save-alt.svg" alt="img")
						a(href="#" class="link ml-2")
							| Скачать договор
	div(class="predlojenie d-flex flex-column")
		img(class="lazyload predlojenie__img" data-src="images/paint2(1).png" alt="img")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center")
						| Специальные предложения
					p(class="text-center pt-4 pb-5")
						| Если вам не подошли основные тарифы
			div(class="row")
				div(class="col-12")
					div(class="predlojenie__item predlojenie__item_big d-flex")
						img(class="lazyload" data-src="images/Asset1.svg" alt="img")
						div(class="pl-4")
							h3
								| Стартуем вместе
							span(class="predlojenie__header")
								| ООО или ИП? С НДС или без...
							p
								| Когда собираетесь открыть ООО или ИП
							p
								| Мы все расскажем. Выберем выгодную систему налогооблажения, рассчитаем налоговую нагрузку, подберем код ОКВЭД. Подготовим документы и расскажем куда и как их подать. Будем с вами на связи по всем вопросам. Откроем счет в надежном банке.
							p
								| Стоит 5  000 рублей за регистрацию. В cтоимость регистрации входит в стоимость оплаты за первый месяц обслуживания. Пошлина не входит  стоимость регистрации. Далее просто выбираете любой тариф.
							a(class="predlojenie__more" href="#")
								span(class="pr-3")
									| Подробнее
								img(class="lazyload" data-src="images/Arrow.svg" alt="img")
			div(class="row")
				div(class="col-lg-6 pt-4")
					div(class="predlojenie__item d-flex flex-column justify-content-between")
						div(class="d-flex flex-column align-items-center")
							h3(class="pb-3")
								| ИП без работников
							img(class="lazyload" data-src="images/123.svg" alt="img")
							p(class="pt-2")
								| Для ИП без работников, независимо от оборотов и сферы бизнеса. На УСН, ЕНВД и патенте, со счетами в любом банке. Без использования онлайн-кассы. Электронная сдача отчетности, решаем вопросы с налоговой. Стоит 25 000 рублей в год.
						a(class="predlojenie__more" href="#")
							span(class="pr-3")
								| Подробнее
							img(class="lazyload" data-src="images/Arrow.svg" alt="img")
				div(class="col-lg-6 pt-4")
					div(class="predlojenie__item d-flex flex-column justify-content-between")
						div(class="d-flex flex-column align-items-center")
							img(class="lazyload price__hot" data-src="images/hot.png" alt="img")
							h2(class="d-block d-lg-none go__span")
									| Создаём порядок в учёте и финансах
							h3(class="pb-3")
								| Ведение сотрудников
							img(class="lazyload" data-src="images/gdsfgdsfg.svg" alt="img")
							p(class="pt-2")
								| Полноценный кадровый учет ваших сотрудников. Стоит 5 000 рублей в месяц за первого сотрудника. Каждый последующий сотрудник - 500 рублей, если он гражданин РФ, и 1 000 рублей, если у него иностранное гражданство.
						a(class="predlojenie__more" href="#")
							span(class="pr-3")
								| Подробнее
							img(class="lazyload" data-src="images/Arrow.svg" alt="img")
				div(class="col-lg-6 pt-4")
					div(class="predlojenie__item d-flex flex-column justify-content-between")
						div(class="d-flex flex-column align-items-center")
							h3(class="pb-3")
								| Ведение сотрудников
							img(class="lazyload" data-src="images/dsffg.svg" alt="img")
							p(class="pt-2")
								| Бухгалтерия для маленьких компаний, оказывающих услуги. ООО и ИП с оборотом до 5 000 000 рублей в месяц, со счетами в Точке, Тинькофф, МодульБанк, Сбербанк и Альфа-банке. 2 работника включены в тариф. Все системы налогообложения. Стоит от 2 500 рублей в месяц.
						a(class="predlojenie__more" href="#")
							span(class="pr-3")
								| Подробнее
							img(class="lazyload" data-src="images/Arrow.svg" alt="img")
				div(class="col-lg-6 pt-4")
					div(class="predlojenie__item d-flex flex-column justify-content-between")
						div(class="d-flex flex-column align-items-center")
							h3(class="pb-3")
								| Ведение сотрудников
							img(class="lazyload" data-src="images/asdsfs.svg" alt="img")
							p(class="pt-2")
								| Бухгалтерия для компаний, оказывающих услуги. ООО и ИП на ОСН и УСН 15%, 20 работников включены в тариф. Стоит 30 000 рублей в месяц при обороте до 5 000 000 рублей в месяц. Если оборот больше - добавляйте 2 000 рублей за каждый следующий миллион.
						a(class="predlojenie__more" href="#")
							span(class="pr-3")
								| Подробнее
							img(class="lazyload" data-src="images/Arrow.svg" alt="img")

		img(class="lazyload predlojenie__img" data-src="images/paint2(1).png" alt="img")
	div(class="content_pad_top content_pad_bot rate wow bounceInRight" data-wow-duration="0" data-wow-delay="1s")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="rate__content")
						div(class="row")
							div(class="col-lg-6")
								img(class="lazyload d-none d-lg-block" data-src="images/bfgb.png" alt="img")
								h2(class="d-block d-lg-none go__span")
									| Делаем бухгалтерию понятной
								a(href="tel:89191237781")
									| 8 919 123 77 81
								span(class="rate__description")
									| Позвоните нам или оставьте заявку на сайте и мы перезвоним вам сами
								div(class="d-flex align-items-center justify-content-between rate_mob")
									button(class="btn btn_flare btn_border_gradient btn_width_300" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
										span
											| Позвоните мне
									span(class="all__span_4 pl-4")
										| Или
										a(href="#" class="")
											| написать в Telegram 
					img(class="lazyload rate__img d-none d-lg-block" data-src="images/cvbcxvb.png" alt="img")
	div(class="check content_pad_top content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-lg-7")
					h2
						| Экспресс проверка вашей бухгалтерии
					span()
						| Проверьте, как ведётся ваш бухгалтерский и налоговый учёт.
					button(class="btn btn_bg_gradient btn_flare"  data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
						| Проверить
	div(class="goover  content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-lg-7")
					h2(class="pb-3")
						| Как перейти
					p
						| Просто. <br>Достаточно оставить заявку или позвонить к нам.
					p
						| В этот же день мы готовы встретиться с вами, уточнить все особенности и нюансы вашего бизнеса.
					img(class="lazyload pt-3 pb-5 d-none d-lg-block" data-src="images/MafGroup.png" alt="img")
					h2(class="d-block d-lg-none pb-3")
						| Если у вас «горит»
					p
						| Достаточно заключить договор и оплатить счет.
					p
						| Мы сразу начнем обслуживание: развернем старую или создадим новую учетную базу, бесплатно подключим к системе электронной сдачи отчетности, проведем сверку и ответим на требования налоговой, восстановим учет и разблокируем ваш счет, если в этом есть необходимость.
					form(class="form d-flex justify-content-between align-items-center rate_mob")
						input(type="text" placeholder="Имя, Телефон")
						button(class="btn btn_bg_gradient btn_flare mt-4 mt-lg-0" type="submit")
							| Отправить
					span(class="all__span_4")
						| Или
						a(href="#" class="")
							| написать в Telegram 
				div(class="col-lg-5")
					img(class="lazyload img-fluid d-none d-lg-block" data-src="images/hfg7.png" alt="img")
	div(class="step")
		div(class="container content_pad_bot")
			div(class="row pb-5")
				div(class="col-12")
					img(class="lazyload img-fluid d-none d-lg-block" data-src="images/ksjdfh.png" alt="img")
					h2(class="d-block d-lg-none")
						| Eсли вы решили сменить
					img(class="lazyload img-fluid step__img d-none d-lg-block" data-src="images/Stapler1.png" alt="img")
			div(class="row pb-4")
				div(class="col-12 col-lg-6")
					div(class="d-flex align-items-end w-100")
						div(class="step__item")
							p(class="text-center")
								| Мы сами свяжемся с вашим прежним бухгалтером
				div(class="col-lg-6 d-none d-lg-flex align-items-end")
					img(class="lazyload" data-src="images/treter.png" alt="img")
			div(class="row pb-4 step_reverse")
				div(class="col-lg-6 d-none d-lg-flex justify-content-end align-items-end")
					img(class="lazyload" data-src="images/treter.png" alt="img")
				div(class="col-lg-6")
					div(class="d-flex  align-items-end w-100")
						div(class="step__item")
							p(class="text-center")
								| Примем и проанализируем переданную нам бухгалтерскую базу (проверим ошибки и поможем восстановить учет) или создадим новую бухгалтерскую базу
			div(class="row pb-4")
				div(class="col-12 col-lg-6")
					div(class="d-flex align-items-end w-100")
						div(class="step__item")
							p(class="text-center")
								| Проведем сверку с налоговой, ПФР и ФСС - узнаем о долгах, переплатах и несданной отчётности
				div(class="col-lg-6 d-none d-lg-flex align-items-end")
					img(class="lazyload" data-src="images/treter.png" alt="img")
			div(class="row pb-4 step_reverse")
				div(class="col-lg-6 d-none d-lg-flex justify-content-end align-items-end")
					img(class="lazyload" data-src="images/treter.png" alt="img")
				div(class=" col-12 col-lg-6")
					div(class="d-flex  align-items-end w-100")
						div(class="step__item")
							p(class="text-center")
								| Решим вопросы со штрафами, поможем разблокировать ваш счет
			div(class="row")
				div(class="col-12 col-lg-6")
					div(class="d-flex align-items-end w-100")
						div(class="step__item")
							p(class="text-center")
								| оптимизируем учетные процессы и сократим ваш ручной труд
	div(class="sorry content_pad_top content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-lg-8 offset-lg-2")
					h2(class="text-center")
						| К сожалению,<br>подходим не всем...
					p(class="text-center")
						| Эффективного сотрудничества может не сложиться, если вы
			div(class="row")
				div(class="col-lg-4 pb-4")
					div(class="sorry__item d-flex align-items-start")
						span(class="sorry__line")
						span(class="sorry__description")
							| Уже давно не платите<br>налоги
				div(class="col-lg-4 pb-4")
					div(class="sorry__item d-flex align-items-start")
						span(class="sorry__line")
						span(class="sorry__description")
							| Хотите обслуживаться<br>у нас бесплатно
				div(class="col-lg-4 pb-4")
					div(class="sorry__item d-flex align-items-start")
						span(class="sorry__line")
						span(class="sorry__description")
							| Почти всегда присылаете документы в последний момент, в период сдачи отчетности
				div(class="col-lg-4 pb-4")
					div(class="sorry__item d-flex align-items-start")
						span(class="sorry__line")
						span(class="sorry__description")
							| Не готовы дать ограниченный доступ к банку
				div(class="col-lg-4 pb-4")
					div(class="sorry__item d-flex align-items-start")
						span(class="sorry__line")
						span(class="sorry__description")
							| Не посещаете налоговую<br>согласно уведомления
				div(class="col-lg-4 pb-4")
					div(class="sorry__item d-flex align-items-start")
						span(class="sorry__line")
						span(class="sorry__description")
							| Не проявляете должной осмотрительности при выборе контрагентов
	div(class="bigimg container")
		div(class="row d-none d-lg-flex")
			div(class="col-12 d-flex justify-content-end")
				img(class="lazyload " data-src="images/bfdgbdfgb.png" alt="img")
	div(class="flyrate content_pad_top content_pad_bot rate")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="rate__content")
						div(class="row")
							div(class="col-12 col-lg-6")
								img(class="lazyload d-none d-lg-block" data-src="images/sdfgsdfga.png" alt="img")
								h2(class="d-block d-lg-none")
									| Хотите подберем улётный тариф для вас?
								a(href="tel:89191237781")
									| 8 919 123 77 81
								span(class="rate__description")
									| Позвоните нам или оставьте заявку<br>на сайте и мы перезвоним вам сами
								div(class="d-flex align-items-center justify-content-between rate_mob")
									button(class="btn btn_flare btn_border_gradient btn_width_300" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
										span
											| Позвоните мне
									span(class="all__span_4 pl-4")
										| Или
										a(href="#" class="")
											| написать в Telegram
							div(class="col-lg-6 flyrate_wp d-none d-lg-block")
								img(class="lazyload rate__img" data-src="images/1058.png" alt="img")
	div(class="som content_pad_top content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-12 text-center")
					h2()
						| Вы все еще сомневаетесь?
					p()
						| Часто задаваемые вопросы
			div(class="row")
				div(class="col-12")
					div(class="accordion" id="accordionSom")
						div(class="card")
							div(class="card-header" id="headingOne")
								span(class="card__head" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
									span()
										img(class="lazyload img-fluid card__head_f" data-src="images/pl.svg" alt="img svg" )
										img(class="lazyload img-fluid card__head_s" data-src="images/min.svg" alt="img svg" )
									span()
										| Стоимость ваших услуг выше, чем у других бух. компаний…
							div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSom")
								div(class="card-body")
						div(class="card")
							div(class="card-header" id="headingTwo")
								span(class="card__head collapsed" type="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
									span()
										img(class="lazyload img-fluid card__head_f" data-src="images/pl.svg" alt="img svg" )
										img(class="lazyload img-fluid card__head_s" data-src="images/min.svg" alt="img svg" )
									span()
										| Как вы сможете заменить штатного бухгалтера, который всегда рядом?
							div(id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSom")
								div(class="card-body")
									p
										| Если вы работали на крупном предприятии или сетевом магазине, то знаете, что бухгалтерия там всегда находится обособленно.
									p
										| Мы всегда на связи, мобильны и готовы приехать в ваш офис. Просто представьте, что мы расположены в соседнем офисе или здании. Вы точно так же можете нам позвонить, написать, связаться по скайпу…
									p
										| В ответственный момент мы всегда рядом
						div(class="card")
							div(class="card-header" id="headingThree")
								span(class="card__head collapsed" type="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
									span()
										img(class="lazyload img-fluid card__head_f" data-src="images/pl.svg" alt="img svg" )
										img(class="lazyload img-fluid card__head_s" data-src="images/min.svg" alt="img svg" )
									span()
										| Что, если ваш бухгалтер допустит ошибку?
							div(id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionSom")
								div(class="card-body")
		img(class="som__img lazyload" data-src="images/Clips.jpg" alt="img")
	div(class="perhaps content_pad_top content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Возможно, вам это интересно
			div(class="row")
				div(class="col-10 offset-1 offset-xl-0 col-xl-12")
					div(class="slider_perhaps")
						-for (var i = 0; i < 10; i++)
							div(class="p-5")
								div(class="slider_perhaps__item")
									span()
										| Название статьи
									p
										| Квалифицированные специалисты хотят иметь интересную работу, «продвинутое» рабочее место с возможностью профессионального и карьерного роста. 
									p
										| Главное, они хотят признания своего профессионализма от тех, кто может это оценить по-настоящему. 
									p
										| А бухгалтеру в небольшой компании приходится делать все самому – от обработки первички до сдачи отчетности. А здесь ничего интересного. Он быстро «выгорает» (посоветоваться не с кем, на семинары  денег не выделяют, сервисы не оплачивают), и у него возникает отношение к работе «как платят – так и работаю», в учете появляются ошибки, которые до начала очередной налоговой проверки все равно никто не заметит…
									p
										| А если говорить о «приходящем» или «знакомом» бухгалтере, то его работа «в промежутках между», «время от времени» или помимо его основной работы – качества в вашем учете не добавляет, к тому же редко профессионал будет искать такую подработку – ему хватает нагрузки и на основном месте работы. 
									p
										| Вот и получается замкнутый круг – или дешевый горе-бухгалтер или слишком дорогой, но грамотный главбух с функционалом Система.
	div(class="sendMe  content_pad_bot")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2
						| Связаться с нами
			div(class="row")
				div(class="col-12")
					form(class="form d-flex justify-content-start align-items-center rate_mob")
						input(type="text" placeholder="Имя, Телефон")
						button(class="btn btn_bg_gradient btn_flare my-4 my-lg-0" type="submit")
							| Отправить
						span(class="all__span_4")
							| Или
							a(href="#" class="")
								| написать в Telegram 
