extends base.pug
block content
	div(class="deep")
		div(class="price")
			div(class="container")
				div(class="row align-items-start")
					div(class="col-12 col-lg-6")
						img(class="lazyload d-none d-lg-block" data-src="images/vbfdgn.png" alt="img")
						h1(class="d-block d-lg-none go__span")
							| Сколько стоит
						span(class="price__header")
							| На ваш бизнес работает полноценная бухгалтерская служба: бухгалтеры, финансисты, кадровик, налоговый юрист и персональные помощники. Они ведут ваш бизнес.
						form(class="form d-flex justify-content-between align-items-center rate_mob")
							input(type="text" placeholder="Имя, Телефон")
							button(class="btn btn_bg_gradient ml-lg-4 btn_flare mt-4 mt-lg-0" type="submit")
								| Отправить
						span(class="all__span_4")
							| Или
							a(href="#" class="")
								| написать в Telegram 
					div(class="col-lg-6 d-none d-lg-flex")
						img(class="lazyload" data-src="images/bg.png" alt="img")
				div(class="row content_pad_top content_pad_bot")
					div(class="col-12")
						img(class="lazyload img-fluid d-none d-lg-block" data-src="images/Groupfd31.png" alt="img")
						h2(class="d-block d-lg-none go__span")
							| Это дешевле, чем нанять одного специалиста в штат.
				div(class="row calc pb-5")
					div(class="col-12 pb-5")
						h2
							| Калькулятор<br>стоимости
						span(class="calc__header")
							| Оборот
						p(class="text-left")
							| Укажите доход вашей компании в месяц: всё, что зашло на ваши счета и в кассу.
						div(class="content_pad_bot")
							div(id="slider")
						div(class="calc__value__slider__wrap d-flex justify-content-center content_pad_bot")
							span
								| До 
							span(class="calc__value__slider")
								| 0 ₽
						span(class="calc__header d-block pb-5")
							| Система налогообложения
						div(class="d-flex calc__red justify-content-between")
							label(class="input__radio")
								input(type="radio" name="nalog" value="0" checked)
								span(class="input__radio__check")
								span(class="input__radio__text")
									| Общая (с НДС)
							label(class="input__radio mx-lg-4")
								input(type="radio" name="nalog" value="15" )
								span(class="input__radio__check")
								span(class="input__radio__text")
									| Упрощенка 15% «Доходы минус расходы»
							label(class="input__radio")
								input(type="radio" name="nalog" value="6" )
								span(class="input__radio__check")
								span(class="input__radio__text")
									| Упрощенка 6% «Доходы»
				div(class="row pb-5")
					div(class="col-lg-4")
						div(class="calc_h calc_h_f d-flex align-items-end justify-content-between")
							span()
								| Вид деятельности
							div(class="sort")
								div(class="custom__select m-2")
									select()
										option(value="v1")
											|    Услуги
										option(value="v1")
											|    Услуги
										option(value="v2")
											|    Торговля
										option(value="v3")
											|    Производство
										option(value="v4")
											|    Ресторан
										option(value="v4")
											|    Кейтеринг
										option(value="v4")
											|    Реклама
						button(class="btn  btn__m_calc"  data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
					div(class="col col__p")
						div(class="calc_h text-center")
							span()
								| Приоритет
							span(class="calc__v_1")
								| 2 500 ₽
							div(class="calc__deep")
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Бесплатно подключаем к 1С и ведем учет, следим за обновлениями
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Считаем налоги заранее, подсказываем как уменьшить
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Делаем платежки, открываем и ведем счета в банках
								button(class="btn  btn__m_calc"  data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
									| Выбрать	
					div(class="col col__p")
						div(class="calc_h text-center calc_disable")
							span()
								| Стандарт
							span(class="calc__v_2")
								| 10 000 ₽
							div(class="calc__deep")
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Бесплатно подключаем к 1С и ведем учет, следим за обновлениями
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Считаем налоги заранее, подсказываем как уменьшить
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Готовим отчеты во время и без ошибок, общаемся с налоговой. Работаем с ЕГАИС
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Делаем платежки, открываем и ведем счета в банках
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Отвечаем на простые вопросы
								button(class="btn  btn__m_calc" disabled  data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
									| Выбрать	
					div(class="col col__p")
						div(class="calc_h text-center calc_disable")
							span()
								| Бизнес
							span(class="calc__v_3")
								| 30 000 ₽
							div(class="calc__deep")
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Бесплатно подключаем к 1С и ведем учет, следим за обновлениями
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Считаем налоги заранее, подсказываем как уменьшить
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Готовим отчеты во время и без ошибок, общаемся с налоговой. Работаем с ЕГАИС
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Делаем платежки, открываем и ведем счета в банках
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Ведем кадры: прием, увольнение, отпуск. Считаем зарплату. Отчитываемся в ПФР, ФСС и ИФНС
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Отвечаем на простые вопросы
								button(class="btn  btn__m_calc" disabled  data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
									| Выбрать	
					div(class="col col__p")
						div(class="calc_h text-center")
							span()
								| Система
							span(class="calc__v_4")
								| 20 000 ₽
							div(class="calc__deep")
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Бесплатно подключаем к 1С и ведем учет, следим за обновлениями
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Считаем налоги заранее, подсказываем как уменьшить
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Готовим отчеты во время и без ошибок, общаемся с налоговой. Работаем с ЕГАИС
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Делаем платежки, открываем и ведем счета в банках
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Ведем кадры: прием, увольнение, отпуск. Считаем зарплату. Отчитываемся в ПФР, ФСС и ИФНС
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Отвечаем на простые вопросы
								button(class="btn  btn__m_calc"  data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
									| Выбрать	
					div(class="col col__p")
						div(class="calc_h text-center")
							span()
								| Премиум
							span(class="calc__v_5")
								| 35 000 ₽
							div(class="calc__deep")
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Бесплатно подключаем к 1С и ведем учет, следим за обновлениями
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Считаем налоги заранее, подсказываем как уменьшить
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Готовим отчеты во время и без ошибок, общаемся с налоговой. Работаем с ЕГАИС
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Делаем платежки, открываем и ведем счета в банках
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Ведем кадры: прием, увольнение, отпуск. Считаем зарплату. Отчитываемся в ПФР, ФСС и ИФНС
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Готовим отчеты в ФС РАР. Работаем с ЕГАИС, Меркурий
								div(class="calc_h pb-3")
									p(class="text-left p-0")
										| Отвечаем на простые вопросы
								button(class="btn  btn__m_calc"  data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
									| Выбрать	
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class="calc_h")
							p(class="text-left p-0")
								| Бесплатно подключаем к 1С и ведем учет, следим за обновлениями
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class="calc_h")
							p(class="text-left p-0")
								| Считаем налоги заранее, подсказываем как уменьшить
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class="calc_h")
							p(class="text-left p-0")
								| Готовим отчеты во время и без ошибок, общаемся с налоговой. Работаем с ЕГАИС
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class="calc_h")
							p(class="text-left p-0")
								| Делаем платежки, открываем и ведем счета в банках
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class="calc_h")
							p(class="text-left p-0")
								| Ведем кадры: прием, увольнение, отпуск. Считаем зарплату. Отчитываемся в ПФР, ФСС и ИФНС
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class="calc_h")
							p(class="text-left p-0")
								| Готовим отчеты в ФС РАР. Работаем с ЕГАИС, Меркурий
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class="calc_h")
							p(class="text-left p-0")
								| Отвечаем на простые вопросы
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center  calc_disable")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center calc_disable ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center ")
							<svg class="vector" width="28" height="21" viewBox="0 0 28 21"  xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M3.99984 7.00004L0.666504 10.3334L10.6665 20.3334L27.3332 3.66671L23.9998 0.333374L10.6665 13.6667L3.99984 7.00004Z" />
							</svg>
				div(class="row pb-5 d-none d-lg-flex calc_h_a")
					div(class="col-lg-4")
						div(class=" calc_h text-center  ")
							button(class="btn calc__btn" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center  ")
							button(class="btn calc__btn" data-toggle="modal"  data-target="#modalCall" data-whatever="@Форма-хуиформа")
								| Выбрать
					div(class="col d-flex align-items-center justify-content-center ")
						div(class=" calc_h text-center  ")
							button(class="btn calc__btn"  data-toggle="modal" disabled data-target="#modalCall" data-whatever="@Форма-хуиформа")
								| Выбрать
					div(class="col d-flex align-items-center justify-content-center ")
						div(class=" calc_h text-center  ")
							button(class="btn calc__btn"  data-toggle="modal" disabled data-target="#modalCall" data-whatever="@Форма-хуиформа")
								| Выбрать
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center  ")
							button(class="btn calc__btn" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
								| Выбрать
					div(class="col d-flex align-items-center justify-content-center")
						div(class=" calc_h text-center  ")
							button(class="btn calc__btn" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
								| Выбрать
		div(class="predlojenie d-flex flex-column ")
			img(class="lazyload predlojenie__img" data-src="images/paint2(1).png" alt="img")
			div(class="container content_pad_top")
				div(class="row")
					div(class="col-12")
						h2(class="text-center")
							| Специальные предложения
						p(class="text-center pt-4 pb-5")
							| Если вам не подошли основные тарифы
				div(class="row")
					div(class="col-12")
						div(class="predlojenie__item predlojenie__item_big d-flex")
							img(class="lazyload" data-src="images/Asset1.svg" alt="img")
							div(class="pl-4")
								h3
									| Стартуем вместе
								span(class="predlojenie__header")
									| ООО или ИП? С НДС или без...
								p
									| Когда собираетесь открыть ООО или ИП
								p
									| Мы все расскажем. Выберем выгодную систему налогооблажения, рассчитаем налоговую нагрузку, подберем код ОКВЭД. Подготовим документы и расскажем куда и как их подать. Будем с вами на связи по всем вопросам. Откроем счет в надежном банке.
								p
									| Стоит 5  000 рублей за регистрацию. В cтоимость регистрации входит в стоимость оплаты за первый месяц обслуживания. Пошлина не входит  стоимость регистрации. Далее просто выбираете любой тариф.
								a(class="predlojenie__more" href="#")
									span(class="pr-3")
										| Подробнее
									img(class="lazyload" data-src="images/Arrow.svg" alt="img")
				div(class="row")
					div(class="col-lg-6 pt-4")
						div(class="predlojenie__item d-flex flex-column justify-content-between")
							div(class="d-flex flex-column align-items-center")
								h3(class="pb-3")
									| ИП без работников
								img(class="lazyload" data-src="images/123.svg" alt="img")
								p(class="pt-2")
									| Для ИП без работников, независимо от оборотов и сферы бизнеса. На УСН, ЕНВД и патенте, со счетами в любом банке. Без использования онлайн-кассы. Электронная сдача отчетности, решаем вопросы с налоговой. Стоит 25 000 рублей в год.
							a(class="predlojenie__more" href="#")
								span(class="pr-3")
									| Подробнее
								img(class="lazyload" data-src="images/Arrow.svg" alt="img")
					div(class="col-lg-6 pt-4")
						div(class="predlojenie__item d-flex flex-column justify-content-between")
							div(class="d-flex flex-column align-items-center")
								img(class="lazyload price__hot" data-src="images/hot.png" alt="img")
								h2(class="d-block d-lg-none go__span")
										| Создаём порядок в учёте и финансах
								h3(class="pb-3")
									| Ведение сотрудников
								img(class="lazyload" data-src="images/gdsfgdsfg.svg" alt="img")
								p(class="pt-2")
									| Полноценный кадровый учет ваших сотрудников. Стоит 5 000 рублей в месяц за первого сотрудника. Каждый последующий сотрудник - 500 рублей, если он гражданин РФ, и 1 000 рублей, если у него иностранное гражданство.
							a(class="predlojenie__more" href="#")
								span(class="pr-3")
									| Подробнее
								img(class="lazyload" data-src="images/Arrow.svg" alt="img")
					div(class="col-lg-6 pt-4")
						div(class="predlojenie__item d-flex flex-column justify-content-between")
							div(class="d-flex flex-column align-items-center")
								h3(class="pb-3")
									| Ведение сотрудников
								img(class="lazyload" data-src="images/dsffg.svg" alt="img")
								p(class="pt-2")
									| Бухгалтерия для маленьких компаний, оказывающих услуги. ООО и ИП с оборотом до 5 000 000 рублей в месяц, со счетами в Точке, Тинькофф, МодульБанк, Сбербанк и Альфа-банке. 2 работника включены в тариф. Все системы налогообложения. Стоит от 2 500 рублей в месяц.
							a(class="predlojenie__more" href="#")
								span(class="pr-3")
									| Подробнее
								img(class="lazyload" data-src="images/Arrow.svg" alt="img")
					div(class="col-lg-6 pt-4")
						div(class="predlojenie__item d-flex flex-column justify-content-between")
							div(class="d-flex flex-column align-items-center")
								h3(class="pb-3")
									| Ведение сотрудников
								img(class="lazyload" data-src="images/asdsfs.svg" alt="img")
								p(class="pt-2")
									| Бухгалтерия для компаний, оказывающих услуги. ООО и ИП на ОСН и УСН 15%, 20 работников включены в тариф. Стоит 30 000 рублей в месяц при обороте до 5 000 000 рублей в месяц. Если оборот больше - добавляйте 2 000 рублей за каждый следующий миллион.
							a(class="predlojenie__more" href="#")
								span(class="pr-3")
									| Подробнее
								img(class="lazyload" data-src="images/Arrow.svg" alt="img")
				div(class="row content_pad_top content_pad_bot")
					div(class="col-12 text-center")
						a(href="#" class="predlojenie_more")
							| Смотреть еще
			img(class="lazyload predlojenie__img" data-src="images/paint2(1).png" alt="img")
		div(class="info content_pad_top content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2(class="pb-5")
							| Восстановление<br>учёта
						p
							| Укажите доход вашей компании в месяц: всё, что зашло на ваши счета и в кассу, кроме депозитов, кредитов и займов. Стоимость указана за месяц использования. Укажите доход вашей компании в месяц: всё, что зашло на ваши счета и в кассу, кроме депозитов, кредитов и займов. Стоимость указана за месяц использования. Укажите доход вашей компании в месяц: всё, что зашло на ваши счета и в кассу, кроме депозитов, кредитов и займов. Стоимость указана за месяц использования. Укажите доход вашей компании в месяц: всё, что зашло на ваши счета и в кассу, кроме депозитов, кредитов и займов. Стоимость указана за месяц использования.
						p
							| Укажите доход вашей компании в месяц: всё, что зашло на ваши счета и в кассу, кроме депозитов, кредитов и займов. Стоимость указана за месяц использования. Укажите доход вашей компании в месяц: всё, что зашло на ваши счета и в кассу, кроме депозитов, кредитов и займов. Стоимость указана за месяц использования.
		div(class="check content_pad_top content_pad_bot")
			div(class="container")
				div(class="row")
					div(class="col-lg-7")
						h2
							| Экспресс проверка вашей бухгалтерии
						span()
							| Проверьте, как ведётся ваш бухгалтерский и налоговый учёт.
						button(class="btn btn_bg_gradient btn_flare" type="submit")
							| Проверить


