/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/_animate.css";
@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";
@import "library/jquery-ui.css";

@import "reset/_reset";
@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";


// блок / первый экран на стр.
.welcome__line {
    display: flex;
    align-items: center;
    span {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 22px;

      padding-left: 10px;
      color: $mainTextColor;
    }
  }
.welcome {
  padding-top: 82px;
  height: 100vh;
  width: 100vw;
  position: relative;
  .welcome_h1 {
    font-weight: bold;
font-size: 5rem;
line-height: 150%;
color: #4DB4EE;
  }
  
  .welcome__description {
    font-size: 1.8rem;
    line-height: 150%;
    /* identical to box height, or 27px */
    display: block;
    color: #000000;
     span {
      color: $mainTextColor;
      font-weight: bold;
      padding-left: 4px;
     }
  }
  .welcome__down {
    position: relative;
    cursor: pointer;

    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}



.delegation {
  position: relative;
  .delegation__items {
    &:hover {
      .delegation__header {
        box-shadow: 0px 4px 15px rgba(0, 209, 255, 0.35);
        transition: all 0.5s;
      }
    }
  }
  .delegation__header {
    transition: all 0.5s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    padding: 55px;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-color: #fff;
  }
  .delegation__description {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 22px;
    text-align: center;
    padding-top: 16px;
    color: #000000;
  }


  .delegation__img {
    position: absolute;
    &.delegation__img_right {
      right: -100px;
      top: 100px;
    }
    &.delegation__img_left {
      left: 38px;
      top: 300px;
    }
    @media (max-width: 1600px) {
      display: none;
    }
  }
}






.all {
  background: url("../images/Rectangle2.jpg") no-repeat;
  min-height: 750px;

  display: flex;
  align-items: center;
  justify-content: center;
  .all__span_1 {
    padding-top: 32px;
font-weight: 500;
font-size: 1.8rem;
line-height: 150%;
/* or 27px */

display: block;
color: #000000;
  }
  .all__span_2 {
font-size: 1.6rem;
line-height: 150%;
/* or 24px */
  padding: 32px 0 20px 0;
  display: block;

color: #000000;
  }
  .all__span_3 {
    font-weight: 500;
font-size: 1.8rem;
line-height: 150%;
/* or 27px */
display: block;

color: #000000;
  }
  .all__span_4 {
    font-size: 1.8rem;
line-height: 22px;
/* identical to box height */


color: #000000;

    a {
      font-weight: 600;
font-size: 1.8rem;
line-height: 22px;
color: $mainGDtextColor;
padding-left: 4px;
    }
  }
  
  .all__img {
    margin-right: -200px;
  }

  input {
    margin-right: 20px;
  }
  .form {
    @media (max-width: 991px) {
      flex-direction: column;
      .btn {
        margin-top: 10px;
      }
    }
  }
}


.link {
  margin-left: 4px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 22px;

  color: $mainTextColor;

  box-shadow: inset 0 -0.2rem 0 0 $mainTextColor;  
  transition: all $mainDefaultDurationAnimation;
  &:hover {
    color: $mainGDtextColor;
    box-shadow: inset 0 -2rem 0 0 $mainTextColor; 
    transition: all $mainDefaultDurationAnimation;
  }
}



.slick-dots {
  li {
    width: 12px;
    height: 12px;
    button {
      padding: 0px;
      width: 12px;
      height: 12px;
      &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: #C4C4C4;
      }
    }
    &.slick-active {
       button {
        &:before {
          background-color: $mainGDtextColor;
        }
      }
    }
  }
}
.all__span_4 {
    font-size: 1.6rem;
line-height: 150%;

color: #000000;
  }


.make {
  position: relative;
  .make__description {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 150%;

    display: block;
    padding: 24px 0 40px 0;
    @media (max-width: 991px) {
      font-size: 1.8rem;
    }
  }
  .make__item {
    padding-bottom: 30px;

    display: flex;
     align-items: center;
    span {
      font-size: 1.6rem;
      line-height: 150%;
      display: block;
      padding-left: 15px;

      color: #000000;
    }
  }
  .make__img {
    position: absolute;
    right: -390px;
    bottom: -60px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}




.go {
  background: linear-gradient(180deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 100%), #F6F2F2;

  
  .form {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    background-color: #fff;
  }
  .go__img {
    width: 100%;
  }
}

.ul_circle {
  list-style: none;
  li {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 7px;
      border-radius: 100%;
      left: -20px;
      background-color: $mainGDtextColor
    }
  }
}

.rate {
  .rate__content {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 60px 70px;
    a {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 29px;
      color: $mainTextColor;
      margin: 24px 0 16px 0;
      display: block;
    }
    @media (max-width: 991px) {
      padding: 40px 20px;
    }
  }
  .rate__description {
    font-size: 1.8rem;
    line-height: 22px;

    color: #000000;
    display: block;
    padding-bottom: 24px;
  }
  .btn {
    max-width: 200px;
  }
  .all__span_4  {
    a {
    margin-left: 4px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 22px; 
  display: inline-block;

  color: $mainGDtextColor;
  }
  }
  .rate__img {
    position: absolute;
    top: -20%;
    left: 54%;
  }
  
}
@media (max-width: 991px) {
    .rate_mob {
      flex-direction: column;
    }
  }

.topchig {
  .topchig__header {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 29px;
    color: $mainTextColor;
    display: block;
    padding-left: 40px;
    padding-bottom: 10px;
  }
  .topchig__description {
    font-size: 1.6rem;
line-height: 150%;
/* or 24px */
  display: block;
  padding-left: 40px;

color: #000000;
  }
  .topchig__footer {
    font-weight: 500;
font-size: 1.6rem;
line-height: 150%;
/* or 24px */

  display: block;
  padding-left: 40px;
  padding-top: 40px;
color: #000000;
  }
  .topchig__item {
    height: 100%;
    padding: 32px 45px;
    background: #FFFFFF;
/* Drop Shadow */
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
transition: all 0.5s;

border-radius: 15px;

    @media (max-width: 991px) {
      padding: 20px 25px;
      display: flex;
      flex-direction: column;
      img {
        display: block;
        margin-bottom: 10px;
      }
      .topchig__header {
        padding-left: 0px;
      }
      .topchig__description {
        padding-left: 0px;
      }
      .topchig__footer {
        padding-left: 0px;
      }
    }
    &:hover {
      box-shadow: 0px 4px 15px rgba(0, 209, 255, 0.35);
      transition: all 0.5s;
    }
  }
}










.price {
  position: relative;
  h3 {
    font-weight: 600;
font-size: 3.6rem;
line-height: 44px;
/* identical to box height */

color: $mainTextColor;
  }
  p {
    font-size: 1.8rem;
line-height: 22px;
text-align: center;

  color: #000000;
  padding: 16px 0 32px 0;
  }
  .price__item {
    height: 100%;
    padding: 42px 55px;
    background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 15px;
position: relative;
    @media (max-width: 991px) {
      padding: 20px 25px;
    }
  }
  .price__count {
    font-weight: 600;
font-size: 2.4rem;
line-height: 29px;
text-align: center;
  display: block;
color: #000000;
  }
  .price__lamp {
    position: absolute;
    bottom: 10%;
    left: 0%;
  }
}











.predlojenie {
  background-color: #F7F3F3;
  .predlojenie__img {
    width: 100%;
    &:first-child {
      transform: rotate(180deg);
    }
  }
  .predlojenie__item {
    padding: 42px 32px;
    background: #FFFFFF;
border-radius: 15px;
height: 100%;
    position: relative;
    h3 {
      font-weight: 600;
      font-size: 3.6rem;
      line-height: 44px;

      color: #154880;
    }
    .predlojenie__header {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 29px;
      padding: 24px 0 16px 0;
      display: block;
      color: #000000;
    }


    &.predlojenie__item_big {
      padding: 42px;
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
  }
  
}

.price__hot {
    position: absolute;
    right: 0px;
    top: 0px;
  }






  .check {
  span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    display: block;
    color: $mainGDtextColor;
    padding: 42px 0px;
  }
  
  }




  .goover {
    .all__span_4  {
      a {
      margin-left: 4px;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 22px; 
      display: inline-block;

      color: $mainGDtextColor;
      }
    }
  }




  .step {
    h2 {
      font-weight: bold;
font-size: 3.6rem;
line-height: 44px;
color: #4DB4EE;
    }
    .step__item {
      background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 15px;
padding: 18px 30px;
width: 100%;
p {
  padding: 0px;
}
    }
    .step__img {
    position: absolute;
    top: -60px;
    right: -270px;
  }
  }
.step_reverse {
  img {
    transform: scale(-1, 1);
  }

}




.sorry {
  p {
    font-weight: 500;
font-size: 2.4rem;
line-height: 29px;
padding: 24px 0 50px 0;
  }
  .sorry__item {

  }
  .sorry__line {
    margin-top: 5px;
    display: block;
    min-width: 30px;
    width: 30px;
    height: 6px;
    background-color: $mainGDtextColor;
  }
  .sorry__description {
    padding-left: 12px;
    font-weight: 500;
font-size: 1.6rem;
line-height: 20px;
  display: block;
color: #000000;
  }
}

.bigimg {
  img {
    margin-left: -100px;
    display: block;
  }
}







.flyrate {
  .flyrate_wp {
    position: relative;
  }
  .rate__img {
    left: unset;
    top: -10%; right: -50%;
  }
  h2 {
    font-weight: bold;
font-size: 3rem;
line-height: 150%;
    color: #4DB4EE;
  }
}



#accordionSom {
  padding-top: 42px;
  .card {
    background: #FFFFFF;
    border: none;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 15px;
margin-bottom: 25px;
  &:last-child {
    margin: 0px;
  }
  }
  .card-header {
    cursor: pointer;
    background: none;
    border: none;
    
    .card__head {
      display: flex;
      align-items: center;
      
      span:first-child {
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
height: 50px;
  border-radius: 100%;
        border: 3px solid $mainTextColor;
        .card__head_f {
        display: none;
      }
      .card__head_s {
        display: block;
      }
      }
      span:last-child {
        display: block;
      width: 100%;
      font-weight: 600;
font-size: 2.4rem;
line-height: 29px;
padding-left: 20px;
color: $mainTextColor;

      @media (max-width: 991px) {
        font-size: 2rem;
        line-height: 130%;
      }
      }

      &.collapsed {
        span:first-child {
          .card__head_f {
            display: block;
          }
          .card__head_s {
            display: none;
          }
        }
      }

    }
  }
  .card-body {
    padding: 5px 100px 32px 100px;
    p {
      font-size: 1.6rem;
line-height: 150%;
/* or 24px */


color: #000000;
padding-bottom: 15px;
&:last-child {
  padding-bottom: 0px;
}
    }
  }
}


.som {
  position: relative;
  .som__img {
    position: absolute;
    left: 0px;
    top: 40%;
    @media (max-width: 1600px) {
      display: none;
    }
  }
}


.slider_perhaps__item {
  background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 15px;
padding: 42px ;
  span {
    font-weight: 600;
font-size: 3.6rem;
line-height: 44px;
/* identical to box height */
  padding-bottom: 24px;
  display: block;

color: $mainTextColor;
  }
  p {
    font-size: 1.6rem;
line-height: 150%;
/* or 24px */


color: #000000;
    padding-bottom: 15px;
    &:last-child {
      padding-bottom: 0px;
    }
  }


  @media (max-width: 991px) {
    padding: 15px;
  }
}

.slider_perhaps {
  .slick-arrow {
    cursor: pointer;
      &.sldier_arrow_next {
        svg {
        transform: rotate(-180deg);
      }
      }
  }
}
.slider_perhaps {
    position: relative;
      .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 100;
        &.sldier_arrow_prev  {
          left: -30px;
        }
        &.sldier_arrow_next {
          right: -30px;
        }
      }
  }

@media (min-width: 1200px) {
  .slider_perhaps {
      .slick-arrow {
        &.sldier_arrow_prev  {
          left: -50px;
        }
        &.sldier_arrow_next {
          right: -50px;
        }
      }
   }
  
}

.sendMe {
  h2 {
    padding-bottom: 34px;
  }
  button {
    margin: 0 32px 0 30px;
  }
  .all__span_4 {
      font-size: 1.8rem;
line-height: 22px;
/* identical to box height */


color: #000000;
    a {
      padding-left: 4px;
      font-weight: 600;
font-size: 1.8rem;
line-height: 22px;
color: $mainGDtextColor;
    }
  }
}



.go__span {
  @media (max-width: 991px) {
      color: #4DB4EE;
      font-weight: 600;
      font-size: 3rem;
      line-height: 150%;
  }
}



.calc__red {
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    .input__radio  {
      margin: 5px 0px;
    }
  }
}






.deep {
  padding-top: 200px;
  @media (max-width: 991px) {
    padding-top: 100px;
  }
  .som__img {
    left: unset;
    right: 0px; top: 0px;
    transform: scale(-1, 1);
  }
}

.head_g {
  font-weight: 500;
font-size: 1.8rem;
line-height: 150%;
/* identical to box height, or 27px */

  display: block;
color: #000000;
}
.rr {
  padding-left: 8.4rem!important;
  @media (max-width: 991px) {
    padding-left: 10rem!important;
  }
}


.tik {

  .accordion {
    .card {
      border: none;
    }
    .card-header {
      border: none;
      background-color: unset;
    }
  }




  .tik__header {
    font-weight: 500;
font-size: 1.8rem;
line-height: 22px;
text-align: center;

color: #000000;

  }

  p {
    font-size: 1.6rem;
line-height: 150%;
/* or 24px */

  padding-bottom: 16px;
color: #000000;
  }
  .tik__content__header {
font-weight: 600;
font-size: 1.8rem;
line-height: 22px;
/* identical to box height */

color: #000000; 
display: block;
  }
  .tik__content__dop_head {
    font-weight: 500;
font-size: 1.6rem;
line-height: 150%;
/* or 24px */

  display: block;
color: #000000;
  }
}
.tik__wrap {
  position: relative;
  .tik__hover {
    position: absolute;
    top: 0px; right: -20px;
    display: block;
    margin: -10px;
    padding: 10px;
    cursor: pointer;
  }
  .tik__content {
    position: fixed;
    left: 80%;
    top: 16px;
    display: none;
    z-index: 300;


    background: #FFFFFF;
/* Drop Shadow */
    padding: 32px 23px;
box-shadow: 0px 4px 15px rgba(0, 209, 255, 0.35);
border-radius: 15px;

  
  }



  @media (max-width: 991px) {
    position: unset;
    display: block;
  }
}




.predlojenie__more {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 22px;
    color: $mainGDtextColor;
    &:hover {
      color: $mainGDtextColor;
    }
}

.blog {
  position: relative;
  .select-items {
    background-color: #fff;
  }
  h1 {
    color: #4DB4EE;
  }
  .blog__img {
    position: absolute;
      left: 0px;
      top: 14%;
    &:last-child {
      right: 0px;
      top: 40%;
      left: unset;
      transform: scale(-1, 1);
    }

    @media (max-width: 1600px) {
      display: none;
    }
  }
}

.blog__item {
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  h2 {
    font-weight: 600;
font-size: 3.6rem;
line-height: 44px;
    color: $mainTextColor;
    padding-bottom: 10px;
  }
  p {
    font-size: 1.6rem;
    line-height: 150%;
    /* or 24px */

    padding-bottom: 16px;
    color: #000000;
  }
  .blog__item__content {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 80px;
    .blog__item__date {
      font-weight: 500;
font-size: 1.8rem;
line-height: 22px;
/* identical to box height */

      padding-top: 20px;
color: #BBBABA;
    }
    @media (max-width: 991px) {
      padding-left: 40px;
    }
  }

  @media (max-width: 991px) {
    .row {
      .blog__item__header {
        img {
          width: 100%;
          max-width: unset;
        }
      }
    }
  }
}






.price {
  h1 {
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 150%;
    color: $mainGDtextColor;
  }
  .price__header {
    font-size: 1.8rem;
    line-height: 150%;
    color: #000000;
    display: block;
    padding: 60px 0 40px 0;
  }
  .all__span_4  {
    a {
      margin-left: 4px;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 22px; 
      display: inline-block;

      color: $mainGDtextColor;
    }
  }
}

.calc_h_f {
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    padding-bottom: 20px;
  }
}
.col__p {
  @media (max-width: 991px) {
    width: 100%;
    flex-basis: unset;
  }
}
.calc__deep {
    display: none;
    @media (max-width: 991px) {
      display: block;
    }
  }
.calc {


  h2 {
    padding-bottom:40px;
  }
  .calc__header {
    font-weight: 600;
font-size: 3.6rem;
color: $mainTextColor;
line-height: 44px;
  }
  p {
    padding: 32px 0px;
  }
  .ui-slider-handle {
    margin-top: -9px;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 209, 255, 0.35);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $mainGDtextColor;
  }
  .ui-slider-range {
    background: $mainTextColor;
  }
  .ui-slider {
    border: none;
    border-radius: 0px;
    background-color: #EAEAEA;
  }
}
.calc__value__slider__wrap {
  font-weight: bold;
font-size: 3.6rem;
line-height: 150%;
/* identical to box height, or 54px */


color: #000000;
  span{
    &:last-child{
      display: inline-block;
      padding-left: 6px;
    }
  }
}





.input__radio {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  input {
    display: none;
  }
  .input__radio__check {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid $mainTextColor;
    display: block;
    background: none;
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $mainGDtextColor;
      display: none;
      content: "";
      width: 14px;
      height: 14px;
      transform: translate(-50%, -50%);
      border-radius: 100%;
    }
  }
  .input__radio__text {
    font-size: 1.8rem;
    line-height: 150%;
    /* identical to box height, or 27px */
    display: block;
    padding-left: 12px;
    color: #000000;
    @media (max-width: 991px) {
      max-width: 90%;
    }
  }
  input:checked + .input__radio__check {
    &:before {
      display: block;
    }
  }

}

.calc_h {
  span {
    font-weight: 600;
    font-size: 2rem;
    line-height: 29px;

color: #000000;
  }
  .custom__select {
    background: #FFFFFF;
    /* Drop Shadow */
    padding: 12px 42px;
    box-shadow: 0px 4px 15px rgba(0, 209, 255, 0.35);
    border-radius: 26px;
    .select-selected:after {
      width: 14px;
      height: 14px;
    }
    .text__underline {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      color: #000000;
    }
    .select-items {
      padding: 0 10px;
      background: #fff;
      border-radius: 0 0 15px 15px;
      box-shadow: 0 4px 15px rgba(0,209,255,.35);
      div {
        padding: 6px 0px;
        text-align: center;
        font-size: 1.6rem;
line-height: 150%;

color: #000000;
      }
    }
    &.active {
      border-radius: 26px 26px 0 0;
    }
  }
  .vector {
       fill: #FAA61A;
    }
  .calc__v_1, .calc__v_2, .calc__v_3, .calc__v_4, .calc__v_5 {
    color: $mainGDtextColor;
    display: block;
  }
  &.calc_disable {
    span {
      color: #EAEAEA;
    }
    .vector {
       fill: #EAEAEA;
    }

  }
}

.btn:disabled {
      color: #eaeaea;
      opacity: 1;
    }
.predlojenie_more {
  font-weight: 600;
font-size: 1.8rem;
line-height: 22px;

color: $mainTextColor;
  &:hover {
    color: $mainTextColor;
  }
}

.info {
  font-size: 1.8rem;
line-height: 150%;
}


.anim_p {
  padding-top: 60px;
  font-weight: 600;
font-size: 2.4rem;
line-height: 29px;
  display: block;
color: #000000;
}
.anim {
  ul {
    padding-left: 70px;
  }
}
.anim_a {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  span {
    padding: 18px 35px;
    display: inline-block;
    font-weight: 300;
font-size: 1.6rem;
line-height: 20px;
/* identical to box height */
  background: #EAEAEA;
border-radius: 27px;
  
color: #000000;
white-space: nowrap;
    
  }
  div {
    position: absolute;
    z-index: -1;
    min-width: 200px;
    &.text_1 {
      animation: text_1  9s infinite linear;
      top: 5%;
      right: -30%;
    }
    &.text_2 {
      animation: text_2  10s infinite linear;
      top: 20%;
      right: 10%;
    }
    &.text_3 {
      animation: text_3  8s infinite linear;
      top: 35%;
      right: 50%;
    }
    &.text_4 {
      animation: text_4  10s infinite linear;
      top: 50%;
      right: 50%;
    }
  }
  .cha {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 1);
  z-index: 5;

  }
}


@keyframes text_1 {
  0% {
    right: -30%;
  }
  100% {
    right: 90%;
  }
}
@keyframes text_2 {
  0% {
    right: -70%;
  }
  100% {
    right: 100%;
  }
}
@keyframes text_3 {
  0% {
    right: -40%;
  }
  100% {
    right: 100%;
  }
}
@keyframes text_4 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.dfg {
  font-weight: 600;
font-size: 2.4rem;
line-height: 29px;
  display: block;
  padding-top: 60px;
color: #000000;
}

.time {
  .fd-logo {
    padding: 40px 0 20px 0;
  }
  p {
    a {
      padding-left: 4px;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 150%;
      color: $mainTextColor;
    }
  }
}
.wom {
  h2 {
    padding-bottom: 50px;
  }
  p {
    font-size: 1.8rem;
  }
}

.num {
  padding-bottom: 20px;
  span {
    font-weight: bold;
font-size: 64px;
line-height: 78px;
/* identical to box height */


color: #154880;
  }

  p {
    padding: 0px;
    padding-left: 26px;
    font-size: 1.8rem;
line-height: 150%;
/* or 27px */


color: #000000;
  }
}