header {
	background-color: #fff;
	position: fixed;
	top: 0px; right: 0px; left: 0px;
	z-index: 1000;
	padding: 16px 0;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			display: flex;
			align-items: center;
			.logo__header {
				padding-left: 13px;
				font-family: "Rockwell Extra Bold";
				font-size: 1.8rem;
				line-height: 22px;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				color: $mainTextColor;
			}
			@media (max-width: 1250px) {
				width: 150px;
			}
			@media (max-width: 991px) {
				width: 100px;
			}
		}

		ul {
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			li {
				padding-bottom: 0px;
				a {
					padding: 0 16px;
					font-family: "Roboto";
					font-style: normal;
					font-weight: normal;
					font-size: 1.8rem;
					line-height: 21px;
					color: #303030;
					&:hover {
						text-decoration: none;
						color: inherit;
					}
					@media (max-width: 1200px) {
						font-size: 1.6rem;
					}
				}
				&.active {
					a {
						color: $mainTextColor;
					}
				}
			}
			.navigation__line {
				position: absolute;
				display: block;
				height: 4px;
				background-color: $mainGDtextColor;
				left: 50%; bottom: -500%;
				transition: all 0.5s;
				padding: 0;
			}
		}
		.header__phone__wrap {
			display: flex;
			align-items: center;
		}
		.header__phone {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 2rem;
			line-height: 24px;

			color: $mainTextColor;

			margin-right: 50px;
		}
		@media (max-width: 991px) {

		}
	}

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transform: scale(1.5);
	}
	.hamRotate.active {
		transform: rotate(45deg) scale(1.5);
	}
	.hamRotate180.active {
		transform: rotate(180deg);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: $mainTextColor;
		stroke-width: 5.5;
		stroke-linecap:round;
	}
	.ham8 .top {
		stroke-dasharray: 40 160;
	}
	.ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}
	.ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}
	.ham8.active .top {
		stroke-dashoffset: -64px;
	}
	.ham8.active .middle {
		transform: rotate(90deg);
	}
	.ham8.active .bottom {
		stroke-dashoffset: -64px;
	}
	.btn__menu {
	background: none;
	border: none;
	min-width: 40px;
	min-height: 40px;
	padding: 0;
	cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
.navigation__content {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 110%;
	z-index: 999;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 0.5s;


	&.active {
		left: 0;
		transition: all 0.5s;
	}
	.navigation__wrap {
		margin: 5px auto;
		width: 580px;

	  .navigation__menu {
			margin: 0 auto;
			position: relative;
			transition: background-color .4s linear;
			padding: 0;
			color: #fff;

			display: flex;
			flex-direction: column;
			justify-content: center;
		  &:hover {
			  transition: background-color .4s linear;
		  }
		  .navigation__menu__item {
			  display: block;
			  box-sizing: border-box; }
		  .navigation__menu__link {
		  	white-space: nowrap;
			  display: block;
			  text-align: center;
			  text-transform: uppercase;
			  font-size: 18px;
				line-height: 22px;
				/* identical to box height */


				color: #000000;
		  }
		  .navigation__menu__link:hover {
			  color: #fff;
			  background-color: $mainTextColor;
			  transition: transform .4s linear;
		  }
		  .navigation__menu__phone {
			  margin-top: 4rem;
			  display: flex;
			  justify-content: center;
			  .header__phone {
				  font-family: "Roboto";
				  font-style: normal;
				  font-weight: 500;
				  font-size: 1.8rem;
				  line-height: 21px;
				  color: $mainTextColor;
				  padding-left: 8px;
			  }
		  }
	  }
  }
	li a {
		padding: 10px 0;
		font-family: "Roboto";
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 21px;
		color: #303030;
		:hover {
			text-decoration: none;
			color: inherit;
		}
	}
}